{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="header-panel">
  <h1 class="heading-xlarge">Phone call booked</h1>
    <div class="content-seperator"></div>
  <div class="precis">A 111 nurse will phone within 2 hours</div>
</div>

<div class="measure">
  
<div class="content-block">
  <p>A unique reference code has been generated. Use this number if you need to speak to an operator.</p>
  <p>This code has been sent to you by text.</p>
  <div class="callout callout--info callout-reference">
      <p class="smallprint">Reference:</p>
      <h3>{{ session.homeAddress.postcode }}-{{ session.patient.dob.day }}{{ session.patient.dob.month }}{{ session.patient.dob.year }}</h3>
  </div>
</div>

<div class="content-block">

  <h2>Treating pain at home</h2>
  <h3>Medication, pain and/or fever</h3>
  <ul>
    <li>Paracetamol or ibuprofen can be used to relieve pain or a fever. Don't take if you've been told not to, or you've already taken some. Read the instructions on the packet, or talk to a pharmacist.</li>
  </ul>

</div>

<div class="callout callout--attention">
  <h2>Call 111 if your symptoms get worse</h2>
  <p>If there are any new symptoms, or if the condition gets worse, call NHS 111 for advice.</p>
</div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
