{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="header-panel">
  <h1 class="heading-xlarge">A nurse from 111 will phone you</h1> <!-- A 111 nurse will phone you A nurse from 111 will phone you -->
  <div class="content-seperator"></div>
  <div class="precis">Enter a postcode so we can find a suitable local service</div>
</div>

<div class="measure">

  <div class="content-block">

  <p>The 111 nurse should phone in 20 minutes and will</p>

  <ul>
    <li>have your answers</li>
    <li>advise you what to do</li>
    <li>book an appointment, if needed, with an NHS service</li>
  </ul>
<!-- 
<p>The 111 nurse should phone in 20 minutes. They will have your answer and will advise you want to do next. If mecessary. they will book an appointment with an NHS service.</p>
 -->
  <!-- <h3 class="extra-spacing-top">Enter your current postcode so we can find a suitable local service.</h3> -->
  <div class="callout callout--info">
  <p>This postcode finds the nearest 111 service and is where you will get care. It's usually your home postcode.</p> <!--  The 111 phone call you receive will be based on the post code you enter -->
  <!-- A postcode locates the nearest 111 services. This is where you will get care and it's usually your home postcode.  -->
  </div>

  <form method="post" class="formmodule">
    <fieldset>

<!--     <legend class="secondary">
      What is your Postcode
    </legend> -->

      {% if error.general %}
        <div class="error-summary">
          <div>
            <p>{{ error.general }}</p>
          </div>
        </div>
      {% endif %}

      {% if error.postcode %}
        <div class="error-summary">
          <div>
            <p>{{ error.postcode }}</p>
          </div>
        </div>
      {% endif %}

      <div class="form-group {% if error.postcode %}-errors{% endif %}">
        <div>
          <label for="postcode">Postcode</label>
          <!-- <p class="form-hint">Your current postcode helps locate the nearest 111 service who can phone you</p> -->
         <!--  <p>This is so we can find a local service </p> -->
          <input type="text" id="postcode" name="postcode" value="{{ session.postcode }}" class="-small">
        </div>
      </div>
    </fieldset>

    <!-- <p><a href="home-address-manual">I’ll type in my address</a></p> -->

    <div class="form-group -controls">
      <button type="submit" class="button">Next</button>
    </div>

  </form>
 
</div>

{% endblock %}

{% block footer %}{% endblock %}
