{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="header-panel">
  <h1 class="heading-xlarge">A nurse will call you back in 20 minutes</h1>
</div>

<div class="measure">

<div class="content-block">
  <p>Check your details are correct</p>
</div>
  
<div class="content-block">
  <ul class="tabular-data">
    <li>
      <div>John Smith</div>
      <div>Change</div>
    </li>
    <li>
      <div>36 Chalcot Road</div>
      <div>Change</div>
    </li>
    <li>
      <div>0776 4576 547</div>
      <div>Change</div>
    </li>
  </ul>
</div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
