{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
    You and the people you live with should not leave your home for any reason
  </h1>

  <div class="callout callout--warning callout--lite nhsuk-u-margin-bottom-5">
    <p>
      Your symptoms suggest you could have a coronavirus infection. You should
      get tested as soon as you can.
    </p>
  </div>

  <h2 class="nhsuk-heading-l">
    Managing symptoms at home
  </h2>

  <p>
    NHS.UK has information to help if you have symptoms. You can find out:
  </p>
  <ul>
    <li>
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/staying-at-home-if-you-or-someone-you-live-with-has-coronavirus-symptoms/">how long to isolate for</a> if you or someone you live with has symptoms
    </li>
    <li>
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/how-to-treat-coronavirus-symptoms-at-home/">how to manage your symptoms at home</a> and what to do if you feel worse
    </li>
  </ul>

  <div class="callout callout--attention nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
    <h2 class="nhsuk-heading-l">
      Apply for a coronavirus test
    </h2>
    <p>
      The test will show if you have the virus now.
    </p>
    <p>
      You can get the test by either:
    </p>
    <ul>
      <li>
        going to a drive-through testing centre if you have a car
      </li>
      <li>
        getting a home test kit sent to you
      </li>
    </ul>
    <a class="nhsuk-action-link__link" href="#">
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Apply for a test on GOV.UK</span>
    </a>
  </div>

  <h3 class="nhsuk-heading-m">
    Other things you can do on NHS.UK
  </h3>
  <p>
    You can also:
  </p>
  <ul>
    <li>
      <a href="#">get an isolation note</a> (like a sick note) to give to your
      employer if you need time off work
    </li>
    <li>
      help the NHS plan its response to coronavirus by <a href="#">telling us
      about your current experience of the virus</a>
    </li>
  </ul>

  <p>
    <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">
      Go to NHS.UK for more coronavirus information and services
    </a>
  </p>
</div>

{% endblock %}

{% set suppress_feedback = true %}
