.error-summary {
  @extend %contain-floats;

  margin: $leading*2 0;
  border: $baseline-grid-unit solid $error-colour;
  padding: $leading*2 $leading*2;
  color: $error-colour;
  width: 80%;

  @include media(mid) {
    width: 90%;
  }

  a {
    color: $error-colour;
  }
}

.error-hint {
  display: block;
  color: $error-colour;
}

.form-group.-errors {

  border-left: $baseline-grid-unit solid $error-colour;
  padding-left: $baseline-grid-unit*4;

  label {
    color: $error-colour;
  }

  input,
  textarea {
    border-color: $error-colour;
  }
  .js-enabled & .selection-button-radio::before,
  .js-enabled & .selection-button-checkbox::before {
    border-color: $error-colour;
  }
}

.error-indent {
  border-left: $baseline-grid-unit solid $error-colour;
  padding-left: $baseline-grid-unit*4;
}
