.category {
  padding-bottom: $baseline-grid-unit*4;
  border-bottom: $baseline-grid-unit solid $grey-5;
}

.nhs-redesign .category-level-1,
.category-level-1 {
  font-size: $body;
  font-weight: $bodyweight;
  cursor: pointer;
  margin: 0;
  transition-property: font-size;
  transition-duration: 0.3s;
}

.open .nhs-redesign .category-level-1,
.open .category-level-1 {
  font-size: 28px;
}

.nhs-redesign .category-level-2,
.category-level-2 {
  font-size: $body;
  font-weight: $bodyweight;
  cursor: pointer;
  margin: 0;
  transition-property: font-size;
  transition-duration: 0.3s;
}

.open .nhs-redesign .category-level-2,
.open .category-level-2 {
  font-size: 24px;
}

.nhs-redesign .category-level-3,
.category-level-3 {
  font-size: $body;
  font-weight: $bodyweight;
  cursor: pointer;
  margin: 0;
  transition-property: font-size;
  transition-duration: 0.3s;
}

.open .nhs-redesign .category-level-3,
.open .category-level-3 {
  font-size: 22px;
}
