{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Call 111</h1>
    <p>
      Tell the health adviser that you need an emergency prescription for a
      controlled drug.
    </p>
    <p>
      You’ll speak to a nurse or doctor who’ll tell you how you can get an
      emergency supply.
    </p>
  </div>

</div>

{% endblock %}
