{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Controlled drugs</h1>
    <p>
      Some prescription medicines are called ‘controlled drugs’ because they can
      only be given to you by a doctor. You can’t get any of this medicine from
      a pharmacy without a doctor’s permission.
    </p>
    <p>
      Most antibiotics and medicines to treat long-term conditions are not
      controlled drugs.
    </p>
    <p>
      For example, prescribed medicine for:
    </p>
    <ul>
      <li>blood pressure</li>
      <li>cholesterol</li>
      <li>diabetes</li>
      <li>asthma</li>
      <li>infections</li>
      <li>depression</li>
      <li>heart conditions</li>
    </ul>
    <p>
      Controlled medicines are most often used to treat pain.
    </p>
    <p>
      They’re medicines like:
    </p>
    <ul>
      <li>morphine</li>
      <li>pethidine</li>
      <li>methadone</li>
      <li>temazepam</li>
      <li>diazepam</li>
      <li>codeine</li>
    </ul>
    <p>
      Some hormones and steroids are controlled.
    </p>
    <details>
      <summary>See the full list of controlled medicines</summary>
    </details>
    <div class="shunt-2">
      <a href="controlled-meds-reiterate" class="button">Next</a>
    </div>
  </div>

</div>

{% endblock %}
