{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Controlled drugs</h1>
    <p>
      Some prescription medicines are called ‘controlled drugs’ because they can
      only be given to you by a doctor. You can’t get any of this medicine from
      a pharmacy without a doctor’s permission.
    </p>
    <p>
      Controlled medicines are most often used to treat pain.
    </p>
    <p>
      They’re medicines like:
    </p>
    <ul>
      <li>morphine</li>
      <li>pethidine</li>
      <li>methadone</li>
      <li>temazepam</li>
      <li>diazepam</li>
      <li>codeine</li>
    </ul>
    <p>
      Some hormones and steroids are controlled.
    </p>
    <details>
      <summary>See the full list of controlled medicines</summary>
      <div class="shunt" id="controlled-drugs-full-list">
        Acetorphine<br>
        Acetyldihydrocodeine<br>
        Adinazolam<br>
        Alfentanil<br>
        Allobarbital (allobarbitone)<br>
        Allylprodine<br>
        Alphacetylmethadol<br>
        Alphameprodine<br>
        Alphamethadol<br>
        Alphaprodine<br>
        Alphenal (5-Allyl-5-Phenylbarbituric acid)<br>
        Alprazolam<br>
        Amineptine<br>
        Aminorex<br>
        Amphetamine<br>
        Amobarbital (Amylobarbitone)<br>
        Androst-4-ene-3,17-diol (4-Androstenediol)<br>
        Anhydroecgonine<br>
        Anileridine<br>
        Aprobarbital (Aprobarbitone)<br>
        Atamestane<br>
        <br>
        Barbital (Barbitone)<br>
        Barbituric acid<br>
        Benzethidine<br>
        Benzoylecgonine<br>
        Benzphetamine<br>
        Benzylmorphine<br>
        Betacetylmethadol<br>
        Betameprodine<br>
        Betamethadol<br>
        Betaprodine<br>
        Bezitramide<br>
        Bolandiol<br>
        Bolasterone<br>
        Bolazine<br>
        Boldenone<br>
        Boldione<br>
        Bolenol<br>
        Bolmantalate<br>
        Bromazepam<br>
        Brotizolam<br>
        Buprenorphine<br>
        Butabarbital (Secbutobarbital)<br>
        Butalbital<br>
        Butallylonal<br>
        Butethal (Butobarbital/Butobarbitone)<br>
        <br>
        Calusterone<br>
        Camazepam<br>
        Cannabis<br>
        Carfentanyl (Carfentanil)<br>
        Cathine ((+)-norpseudoephedrine)<br>
        Cathinone<br>
        Chlorphentermine<br>
        Chorionic gonadotrophin<br>
        Clenbuterol<br>
        Clobazam<br>
        Clonazepam<br>
        Clonitazene<br>
        Clorazepic acid (Clorazepate)<br>
        Clostebol<br>
        Clotiazepam<br>
        Cloxazolam<br>
        Cocaethylene (ethylbenzoylecgonine)<br>
        Cocaine<br>
        Codeine<br>
        Cyclobarbital (Cyclobarbitone)<br>
        Cyclopentobarbital (Cyclopentobarbitone)<br>
        <br>
        Danazol<br>
        Delorazepam<br>
        Desomorphine<br>
        Desoxymethyltestosterone<br>
        Dextromoramide<br>
        Dextropropoxyphene<br>
        Diamorphine (Diacetylmorphine)<br>
        Diampromide<br>
        Diazepam<br>
        Diethylpropion<br>
        Diethylthiambutene<br>
        Difenoxin<br>
        Dihydrocodeine<br>
        Dihydrocodeinone-O-carboxymethyloxime<br>
        Dihydroetorphine<br>
        Dihydromorphine<br>
        Dimenoxadole<br>
        Dimepheptanol<br>
        Dimethylthiambutene<br>
        Dioxaphetyl butyrate<br>
        Diphenoxylate<br>
        Dipipanone<br>
        Dronabinol<br>
        Drotebanol (3,4-Dimethoxy-17-methylmorphinan- 6, 14-diol)<br>
        Drostanolone<br>
        <br>
        Ecgonine<br>
        Enestebol<br>
        Epitiostanol<br>
        Estazolam<br>
        Ethchlorvynol<br>
        Ethinamate<br>
        Ethyl loflazepate<br>
        Ethylmethylthiambutene<br>
        Ethylmorphine (3-Ethylmorphine)<br>
        Ethyloestrenol<br>
        Etonitazene<br>
        Etorphine<br>
        Etoxeridine<br>
        <br>
        Fencamfamin<br>
        Fenethylline<br>
        Fenproporex<br>
        Fentanyl<br>
        Fludiazepam<br>
        Flunitrazepam<br>
        Fluoxymesterone<br>
        Flurazepam<br>
        Formebolone<br>
        Furazabol<br>
        Furethidine<br>
        <br>
        Gamma-butyrolactone (GBL)<br>
        Gamma-hydroxybutyrate (GHB - 4-Hydroxy-n-butyric acid)<br>
        Gestrinone<br>
        Glutethimide<br>
        <br>
        Halazepam<br>
        Haloxazolam<br>
        Heptobarbital (Heptobarbitone)<br>
        Hexethal<br>
        Hydroxybenzoylecgonine<br>
        Hydroxycocaine<br>
        Hydrocodone (dihydrocodeinone)<br>
        Hydromorphinol (14-Hydroxydihydromorphine)<br>
        Hydromorphone<br>
        Hydroxypethidine<br>
        <br>
        Isomethadone<br>
        <br>
        Ketamine<br>
        Ketazolam<br>
        Ketobemidone<br>
        <br>
        Lefetamine<br>
        Levomethorphan<br>
        Levomoramide<br>
        Levophenacylmorphan<br>
        Levorphanol/Dextrorphan<br>
        Lisdexamphetamine<br>
        Lofentanil<br>
        Loprazolam<br>
        Lorazepam<br>
        Lormetazepam<br>
        Lysergic acid diethylamide (LSD)<br>
        <br>
        Mazindol<br>
        Mebolazine<br>
        Mecloqualone<br>
        Medazepam<br>
        Mefenorex<br>
        Mephentermine<br>
        Mepitiostane<br>
        Meprobamate<br>
        Mesabolone<br>
        Mesocarb<br>
        Mestanolone<br>
        Metazocine<br>
        Mesterolone<br>
        Methadone<br>
        Methadyl acetate<br>
        Methylamphetamine<br>
        α-Methylphenethylhydroxylamine<br>
        Methandienone<br>
        Methandriol<br>
        Methaqualone<br>
        Methenolone<br>
        Methyldesorphine<br>
        Methyldihydromorphine (6-methyldihydromorphine)<br>
        Methylecgonine<br>
        Methylphenidate<br>
        Methylphenobarbital (Methylphenobarbitone)<br>
        Methyltestosterone<br>
        Methyprylone<br>
        Metopon<br>
        Metribolone<br>
        Mibolerone<br>
        Midazolam<br>
        Morpheridine<br>
        Morphine<br>
        Morphine methobromide<br>
        Myrophine<br>
        <br>
        N-Ethylamphetamine<br>
        Nabilone<br>
        Nandrolone<br>
        Nealbarbitone<br>
        Nicocodine<br>
        Nicodicodine (6-nicotinoyldihydrocodeine)<br>
        Nicomorphine (3,6-dinicotinoyl-morphine)<br>
        Nifoxipam<br>
        Nimetazepam<br>
        Nitrazepam<br>
        Non-human chorionic gonadotrophin<br>
        Noracymethadol<br>
        Norboletone<br>
        Norclostebol<br>
        Norcocaine<br>
        Norcodeine<br>
        Nordazepam<br>
        Norethandrolone<br>
        Norlevorphanol<br>
        Normethadone<br>
        Normorphine<br>
        Norpipanone<br>
        <br>
        Oripavine<br>
        Ovandrotone<br>
        Oxabolone<br>
        Oxandrolone<br>
        Oxazepam<br>
        Oxazolam<br>
        Oxycodone<br>
        Oxymesterone<br>
        Oxymetholone<br>
        Oxymorphone<br>
        <br>
        Pemoline<br>
        Pentazocine<br>
        Pentobarbital (Pentobarbitone)<br>
        Pethidine (Meperidine)<br>
        Phenadoxone<br>
        Phenampromide<br>
        Phenazepam<br>
        Phenazocine<br>
        Phencyclidine (PCP)<br>
        Phendimetrazine<br>
        Phenmetrazine<br>
        Phenobarbital (Phenobarbitone)<br>
        Phenomorphan<br>
        Phenoperidine<br>
        Phentermine<br>
        Pholcodine (Morpholinylethylmorphine)<br>
        Piminodine<br>
        Pinazepam<br>
        Pipradrol<br>
        Piritramide<br>
        Poppy straw (and concentrate)<br>
        Prasterone<br>
        Prazepam<br>
        Probarbital (Probarbitone)<br>
        Proheptazine<br>
        Propallylonal<br>
        Properidine<br>
        Propetandrol<br>
        Propiram<br>
        Propylbenzoylecgonine<br>
        Prostanozol<br>
        Proxibarbital (Proxibarbitone)<br>
        Pyrovalerone<br>
        <br>
        Quinalbarbital<br>
        Quinbolone<br>
        <br>
        Racemethorphan<br>
        Racemoramide<br>
        Racemorphan<br>
        Remifentanil<br>
        Roxibolone<br>
        <br>
        Sativex<br>
        Secbutobarbital (Secbutobarbitone)<br>
        Silandrone<br>
        Somatotropin<br>
        Somatrem<br>
        Somatropin<br>
        Stanolone<br>
        Stanozolol<br>
        Stenbolone<br>
        Sufentanil<br>
        <br>
        Talbutal<br>
        Tapentadol<br>
        Temazepam<br>
        Testosterone<br>
        Tetrazepam<br>
        Thebacon (acetyldihydrocodeinone)<br>
        Thebaine<br>
        Thiomesterone<br>
        Tilidine<br>
        Tramadol<br>
        Trenbolone<br>
        Triazolam<br>
        Trimeperidine<br>
        <br>
        Vinbarbital (Vinbarbitone)<br>
        Vinylbital (Vinylbitone)<br>
        <br>
        Zaleplon<br>
        Zeranol<br>
        Zilpaterol<br>
        Zipeprol<br>
        Zolpidem<br>
        Zopiclone<br>
      </div>
    </details>

    <h2>Most medicines are not controlled</h2>
    <p>
      Most antibiotics and medicines to treat long-term conditions are not
      controlled drugs.
    </p>
    <p>
      For example, prescribed medicine for:
    </p>
    <ul>
      <li>blood pressure</li>
      <li>cholesterol</li>
      <li>diabetes</li>
      <li>asthma</li>
      <li>infections</li>
      <li>depression</li>
      <li>heart conditions</li>
    </ul>
    <div class="shunt-2">
      <a href="controlled-meds-reiterate" class="button">Next</a>
    </div>
  </div>

</div>

{% endblock %}
