{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1>We’ve found services that can help</h1>
    <p>
      A pharmacist or nurse will ask you some questions. They’ll:
    </p>
    <ul>
      <li>check your records for what you’ve been prescribed before</li>
      <li>decide if it’s safe to give you the medicine</li>
    </ul>
    <p>
      It’s helpful if you can take a list of all your medicines and the doses
      with you if you know that.
    </p>
    <h2>Paying for medicine</h2>
    <p>
      You might have to pay for your medicine and prices can vary. Some
      pharmacists only charge standard NHS prices.
    </p>
  </div>
  <div class="shunt-2">
    <a href="recommended-service" class="button">Show me services that can help</a>
  </div>

</div>

{% endblock %}
