{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1>We’ve found services that can help</h1>
    <p>
      The pharmacist or nurse will ask you some questions. They’ll also:
    </p>
    <ul>
      <li>check your records to see what medicine you take</li>
      <li>decide if it’s safe to give you the medicine today</li>
    </ul>

    <h2>Emergency prescriptions can cost more without a referral</h2>
    <p>
      Some pharmacists are working with the NHS to charge standard prices for
      emergency repeat prescriptions.
    </p>
    <p>
      There’ll be a link to refer yourself if there’s one in your area.
    </p>
    <p>
      At other pharmacies you might have to pay, even if you don’t normally.
    </p>
  </div>
  <div class="shunt-2">
    <a href="recommended-service-alt" class="button">Show me services that can help</a>
  </div>

</div>

{% endblock %}
