{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Services near you that can help</h1>
    <p>
      The pharmacist or nurse will make a decision about whether it is safe
      to give you the medicine. This will be based on the information they have
      and their own assessment.
    </p>
    <p>
      To help to find your NHS number and your summary care record you’ll be
      asked for your:
    </p>
    <ul>
      <li>name</li>
      <li>age</li>
      <li>postcode</li>
    </ul>
    <p>
      If you give permission to view your summary care record it should show any
      medicines you’ve been prescribed before.
    </p>
    <p>
      If you don’t have an NHS number because you are visiting you might still
      get help. Take a list of all the medicines you take and the dose if you
      know that. Or if you have any old boxes take those with you.
    </p>
    <p>
      You might have to pay for your medicine and prices can vary. Some
      pharmacists only charge standard NHS prices.
    </p>
  </div>
  <div class="shunt-2">
    <a href="recommended-service" class="button">Show me services that can help</a>
  </div>

</div>

{% endblock %}
