{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}
<div class="measure">

  <div class="content-block">
    <div class="callout callout--attention">
      <p>
        We’re sending these details to the pharmacy so they can find your records.
      </p>
      <p>
        If you give the pharmacy a call they’ll tell you:
      </p>
      <ul>
        <li>if they have your medicine in stock</li>
        <li>when to collect it</li>
        <li>what to do if they can’t help</li>
      </ul>
      <p>
        If you don’t contact or visit the pharmacy they will have to call you to
        make sure you’re ok.
      </p>
    </div>
  </div>

  <div class="content-block">
    <a href="numsas-submit" class="button">Send my details</a>
    <p>
      <a href="numsas-submit?flush=true">
        Cancel and go back
      </a>
    </p>
  </div>

</div>
{% endblock %}
