{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <a href="javascript:window.history.back();" class="button-back">Back</a>
    <h1>Other ways to get help</h1>
  </div>

  <div class="multiple-service-listing">


    <!-- A place you must "REFER THEN CALL" yourself to ******************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>St George’s Pharmacy</b>
        <div class="service-pertinent small">
          <span>0.5 miles away</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container service-details --remote">
        <div class="unit">
          <p>
            46 St Georges Road<br>
            Elephant and Castle<br>
            London<br>
            SE1 6ET
          </p>
        </div>
        <div class="unit">
          <p>
            Open until 6.30pm
          </p>
        </div>
        <div class="unit">
          <div class="measure">
            <span class="flag-contact-first small">This service needs some details from you</span>
          </div>
          <p>
            <a href="numsas-start" class="action-link">
              <span>Refer me to this service</span>
              <svg class="nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- A place you get a CALLBACK from *********************************** -->
    <div class="collapse-title">
      <div class="service-listing">
        <b>GP OOH Service - Leeds, West Yorkshire (St Georges) WYUC</b>
        <div class="service-pertinent small">
          <span>Telephone service</span>
        </div>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details-container service-details --remote">
        <div class="unit">
          <div class="form-hint measure">
            <p>
              <span class="flag-contact-first">This service needs some details from you</span>
            </p>
            <p>
              To use it, fill in the form and they’ll be in touch.
            </p>
          </div>
          <p>
            <a href="#" class="action-link">
              <span>Use this service</span>
              <svg class="nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
            </a>
          </p>
        </div>
        <div class="unit">
          <p>
            Open until 11pm
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block footer %}
  {% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
