{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Contact your GP surgery or regular pharmacy</h1>
    <p>
      Speaking to your GP surgery or regular pharmacy is often the best way to
      get an emergency supply of medicine. They can help you even if you’re away
      from home.
    </p>
    <p>
      If you find you can’t get through to your GP or your pharmacy is not open,
      try using this service again.
    </p>
  </div>

</div>

{% endblock %}
