{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Emergency prescriptions</h1>
    <p>
      You don’t always need a doctor to get an emergency supply of medicine
      you’re prescribed regularly.
    </p>
    <p>
      A pharmacist can decide to give you a limited amount of medicine until you
      can get a repeat prescription.
    </p>
    <div class="callout callout--info">
      <p>
        Use this service if you’ve completely run out. If you’ve got enough to
        last until your GP or usual pharmacy is open you should contact them for
        a repeat prescription instead.
      </p>
    </div>
    <p>
      If you need medicine and you’re also feeling unwell, call 111 and speak to
      an adviser.
    </p>
    <div class="shunt-2">
      <a href="regular-avenues" class="button">Start</a>
    </div>
  </div>

</div>

{% endblock %}
