{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <a href="offer-callback" class="button-back">Back</a>
  <h1>Where to get help</h1>

  <div class="measure">
    <h3>St George’s Centre</h3>
    <p>
      You can go straight to this service. You do not need to make an appointment.
    </p>
    <p>Get help as soon as you can.</p>
  </div>

  <div class="location-section">
    <div class="geo">
      <div id="service-location" class="map-frame"></div>
    </div>
    <div class="address small">
      <p>
        St Georges Centre<br>
        St Georges Road<br>
        Middleton<br>
        LS10 4UZ
      </p>
    </div>
    <div class="directions small">
      <p>
        <a href="#">3.1 miles away - get directions</a><br>
        <a href="#">Change my location</a>
      </p>
    </div>
    <div class="hours small">
      <p>
        8am to 10:30pm every day
      </p>
      <!--
      <table class="compact">
        <tr>
          <th scope="row">Monday</th>
          <td>8am to 10:30pm</td>
        </tr>
        <tr>
          <th scope="row">Tuesday</th>
          <td>8am to 10:30pm</td>
        </tr>
        <tr>
          <th scope="row">Wednesday</th>
          <td>8am to 10:30pm</td>
        </tr>
        <tr>
          <th scope="row">Thursday</th>
          <td>8am to 10:30pm</td>
        </tr>
        <tr>
          <th scope="row">Friday</th>
          <td>8am to 10:30pm</td>
        </tr>
        <tr>
          <th scope="row">Saturday</th>
          <td>8am to 10:30pm</td>
        </tr>
        <tr>
          <th scope="row">Sunday</th>
          <td>8am to 10:30pm</td>
        </tr>
      </table>
      -->
      <p class="contact">
        Web: <a href="http://www.localcaredirect.org/centre/st-georges-centre-urgent-care/">www.localcaredirect.org</a><br>
        Tel: 0330 311 5106
      </p>
    </div>
  </div>

  <!-- boilerplate service type text -->
  <div class="measure">
    <details>
      <summary>
        More information about this service
      </summary>
      <div>
        <p>
          Urgent treatment centres (also called minor injury units) are staffed by GPs.
          They’re open for at least 12 hours every day. They can diagnose and
          deal with many of the most common problems people go to A&amp;E for.
        </p>
      </div>
    </details>
  </div>

  <div class="measure">
    <p>
      <a href="multiple-services">See more services that can help,</a> if the recommended one isn’t right for you.
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <h2>Care advice</h2>

    <!-- START CARE ADVICE -->

    <div class="care-advice-output">
      <details>
        <summary>Breathlessness</summary>
        <div>
          <ul>
            <li>
              Sit as upright as is comfortable.
            </li>
            <li>
              If an inhaler or a spacer is used for chest problems, follow the
              instructions about &quot;what to do if your breathing gets worse&quot;.
            </li>
            <li>
              Never use medicines which have been prescribed for someone else.
            </li>
          </ul>
        </div>
      </details>

      <details>
        <summary>Medication, pain and/or fever</summary>
        <div>
          <ul>
            <li>
                Paracetamol or ibuprofen can be used to relieve pain or a fever.
                Don’t take if you’ve been told not to, or you’ve already taken some.
                Read the instructions on the packet, or talk to a pharmacist.
            </li>
          </ul>
        </div>
      </details>

      <details>
        <summary>Headache</summary>
        <div>
          <ul>
            <li>
              A heated pad or covered hot water bottle on the back of your neck may
              help ease the pain.
            </li>
            <li>
              Call 999 if:
              <ul>
                <li>
                  The person becomes very drowsy, isn’t responding normally or is
                  having a fit.
                </li>
                <li>
                  The person becomes severely ill with new marks under the skin which
                  look like bruising or bleeding.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </details>
    </div>

    <!-- END CARE ADVICE -->

    <div class="callout callout--info">
      <p>
        If you get worse start again using <a href="#">any new symptoms.</a>
      </p>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: 53.747751,
          lng: -1.532257
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      marker = new google.maps.Marker({position: mapObj.getCenter(), map: mapObj});
    });
  </script>
{% endblock %}
