{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">
    Stay indoors and avoid close contact with other people
  </h1>

  <div class="disposition-set">

    <div class="disposition-unit">
      <h2 class="nhsuk-heading-l">Isolate</h2>
      <p>You do that by:</p>
      <ul>
        <li>thing</li>
        <li>thing</li>
        <li>thing</li>
        <li>thing</li>
      </ul>
    </div>

    <div class="disposition-unit">
      <h2 class="nhsuk-heading-l">Call 111</h2>
      <p>When you do this here's some advice</p>
    </div>

  </div>
</div>

<!--
<div class="content-block">

  <div class="callout callout--attention measure">
    <h1 class="nhsuk-heading-l">Call 111</h1>
    <p>
      Do not go to a GP surgery or hospital. Stay indoors and avoid close contact
      with other people.
    </p>
    <p>
      Call 111, and tell them about any recent travel and any symptoms you have.
    </p>
  </div>

  <p>Links to info and worsening?</p>

</div>
-->

{% endblock %}

{% set suppress_feedback = true %}
