{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">
    Read general information about coronavirus (COVID-19)
  </h1>

  <p>As you:</p>
  <ul>
    <li>have <strong>not</strong> travelled to a country with a serious outbreak</li>
    <li>are <strong>not</strong> showing any symptoms</li>
    <li>have <strong>not</strong> been in contact with a confirmed case</li>
  </ul>

  <p>You don’t need to speak to anybody right now.</p>

  <p>
    You can <a href="javascript: return false;">read advice</a> and
    <a href="javascript: return false;">find answers to common questions</a>
    about coronavirus on NHS.UK.
  </p>

</div>

{% endblock %}

{% set suppress_feedback = true %}
