{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">
    Stay indoors and avoid close contact with other people
  </h1>

  <div class="disposition-set">

    <div class="disposition-unit">
      <h2 class="nhsuk-heading-l">Isolate</h2>
      <p>You do that by:</p>
      <ul>
        <li>thing</li>
        <li>thing</li>
        <li>thing</li>
        <li>thing</li>
      </ul>
    </div>

    <div class="disposition-unit">
      <h2 class="nhsuk-heading-l">Get in touch</h2>
      <p>This is the offer from PHE</p>
      <p>WTF is it?</p>
    </div>

  </div>
</div>

{% endblock %}

{% set suppress_feedback = true %}
