{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">

  <div class="callout callout--attention measure">
    <h1 class="nhsuk-heading-l">ISOLATE 111</h1>
    <p>
      Includes "call 111" and make sure you don't go down the IVR option...
    </p>
    <p>
      <a href="javascript: return false;">a link ooh hoo</a>
    </p>
  </div>

  <p>Let's work this all out. Are we having a survey...?</p>

  <p>Links to info and worsening.</p>

</div>

{% endblock %}
