{% set use_question_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">
    Have you been in close contact with someone who has been told they have
    coronavirus (COVID-19)?
  </h1>

  <div class="callout callout--info">
    <p>Close contact means:</p>
    <ul>
      <li>living in the same house</li>
      <li>contact with their body fluids</li>
      <li>talking closely face-to-face for more than a few minutes</li>
      <li>being coughed on</li>
      <li>being within 2 metres of the person for more than 15 minutes</li>
    </ul>
  </div>

  <form action="" method="post" class="form">

    <div class="form-group">
      <fieldset>
        <label class="block-label">
          <input id="" name="answer" value="1" type="radio" class="selection-button-radio">
          <span>
            Yes
          </span>
        </label>
        <label class="block-label">
          <input id="" name="answer" value="0" type="radio" class="selection-button-radio">
          <span>
            No
          </span>
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <p><button type="submit" class="button">Next</button></p>
    </div>

  </form>

</div>

{% endblock %}

{% set suppress_feedback = true %}
