{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="nhsuk-heading-xl">Snappy service name</h1>

    <p>This service helps you to find stuff out</p>

    <ol>
      <li>Thing</li>
    </ol>

    <div class="callout callout--info">
      <p>
        If you’re just looking for <a href="javascript: return false;">general
        information about Covid19 (coronavirus)</a> you can
        <a href="javascript: return false;">read more here.</a>
        [[or just link to] on <a href="javascript: return false;">NHS.UK</a> or
        <a href="javascript: return false;">GOV.UK</a>]
      </p>
    </div>

    <div class="shunt-2">
      <a href="javascript: return false;" class="button">Start</a>
    </div>

    <p>
      Do we have <a href="javascript: return false;">terms</a> for this?
    </p>
  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
