{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="nhsuk-heading-xl">HELLO</h1>
    <ol>
      <li>Thing</li>
    </ol>
    <div class="callout callout--info">
      <p>
        Other thing <a href="javascript: return false;">information page</a>
      </p>
      <p>

    </div>
    <div class="shunt-2">
      <a href="/coronavirus/phase-1/question-worried-generally" class="button">Start</a>
    </div>

    <p>
      Do we have <a href="javascript: return false;">terms</a> for this?
    </p>
  </div>

</div>

{% endblock %}
