{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="nhsuk-heading-xl">Coronavirus (COVID19)</h1>

    <p>Read <a href="javascript: return false;">general advice about coronavirus
    (COVID19), such as how it spreads, or how to avoid infection.</a></p>

    <p>Find out what to do <a href="javascript: return false;">if you think you
    have symptoms, or if you think you’ve been exposed to the virus
    when travelling.</a> We’ll ask you a few questions and tell you what to do next.</p>
  </div>

</div>

{% endblock %}

{% set suppress_feedback = true %}
