.service-details {

  margin-top: $baseline-grid-unit*3;
  padding: $baseline-grid-unit/2 0;
  border: 0;
  background-color: $grey-5;

  @include media(large) {
    margin-top: $baseline-grid-unit*6;
    padding: 0;
    border-left: $baseline-grid-unit solid $grey-4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .geo {
    @include media(large) {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
    }
  }

  .map-frame {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border-top: $baseline-grid-unit solid $white;
    border-bottom: $baseline-grid-unit solid $white;
    @include media(large) {
      height: 100%;
      min-height: 400px;
      border-left: $baseline-grid-unit solid $white;
      border-top: 0;
      border-bottom: 0;
    }
  }

  .unit {
    padding: 0 $baseline-grid-unit*4;
    @include media(large) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  .address {
    @include media(large) {
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  .hours {
    @include media(large) {
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  .directions {
    @include media(large) {
      grid-row-start: 3;
      grid-row-end: 4;
      align-self: end;
    }
  }

  // modifiers for a "remote" service
  &.--remote {
    padding: 1px 0;
    @include media(large) {
      display: block;
    }

    .tel-cta {
      @extend .h1;
      margin-top: 0 !important;

      &.--appointment {
        @extend .h2;
      }
    }
  }
}

.service-appointment-flag {
  border-left: $baseline-grid-unit solid $nhs-blue;
  padding: $baseline-grid-unit*3;
  margin-top: $baseline-grid-unit*2;
  @include media(large) {
    margin-top: $baseline-grid-unit*4;
  }
}
