.service-panel {
  display: block;
  box-sizing: border-box;
  margin: 0 auto $baseline-grid-unit*6 auto;
  padding: $baseline-grid-unit*5;
  border: 1px solid $grey-4;

  grid-gap: $baseline-grid-unit*2;
  grid-template-columns: auto;
  grid-template-rows: $baseline-grid-unit*8 auto auto auto auto;

  @include media(large) {
    display: grid;
  }

  &.place {
    grid-gap: $baseline-grid-unit*2;
    grid-template-columns: auto 35%;
    grid-template-rows: $baseline-grid-unit*8 auto auto auto auto;
  }

  .service-label-header {
    @extend h3;
    margin-top: 0 !important;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .service-advice {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .service-address {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .service-hours {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .service-further-info {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .service-map {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
  }

  .service-distance {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  .service-access {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .service-tel,
  .service-link {
    @extend h3;
    margin-top: 0 !important;
    display: block;
  }
}
