{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Using GP online services</h1>
    <p>
      If you’re registered with a GP you can use online services to book
      appointments.
    </p>
    <p>
      Some surgeries also offer online consultations (by video, phone or email),
      which can be quicker than making an appointment to visit.
    </p>
    <p>
      We’ll tell you if your GP has appointments available.
    </p>
    <div class="shunt-2">
      <a href="/gp-lookup" class="button">Start</a>
    </div>
  </div>

</div>

{% endblock %}
