{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">

    <h1 class="nhsuk-heading-l">
      <span class="heading-prefix">{{ session.usersGP.name }}</span>
      Book an online consultation
    </h1>

    <div class="callout callout--info">
      <p>
        Your GP uses&nbsp;
        <img src=/images/{{ session.gpoc.brand }}-logo.png style="display: inline; max-width: 25%; vertical-align: middle" />
      </p>
    </div>

    <details>
      <summary>
        <span>What does this mean?</span>
      </summary>
      <div>
        <p>Your GP uses online consultation software called {{ session.gpoc.brand | capitalize }}.</p>
        <p>EXPLAIN THE MARKET LOL</p>
        <p>
          <a href="javascript: return false;">
            Find out more about {{ session.gpoc.brand | capitalize }} (opens in a new tab or window)
          </a>
        </p>
      </div>
    </details>

    <h2 class="nhsuk-heading-m">Sharing your details</h2>
    <p>
      If you book an online consultation we’ll share some details with {{ session.gpoc.brand | capitalize }} and {{ session.usersGP.name }}.
    </p>
    <p>
      We’ll share your:
    </p>
    <ul>
      <li>date of birth</li>
      <li>postcode</li>
      <li>sex</li>
      <li>111 online question responses</li>
    </ul>

    <div class="shunt-2">
      <a href="/gpoc/launch" class="button">Book using {{ session.gpoc.brand | capitalize }}</a>
    </div>
  </div>

</div>

{% endblock %}
