{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <div class="callout callout--attention">
      <p>
        We’ll now ask you questions about your symptoms.
      </p>
      <p>
        Some might not seem relevant, but they help us rule out serious
          conditions.
      </p>
    </div>
  </div>

  <div class="content-block">
    <a href="javascript: return false;" class="button">I understand, let’s start</a>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
