.shunt {
  margin-top: $leading*2;
}

.shunt-2 {
  margin-top: $leading*4;
}

.content-seperator {
    width: 130px;
    height: 4px;
    background-color: $grey-5;
    margin-bottom: $leading*4;
}

.content-seperator--equalvertspacing {
    margin-top: $leading*2;
    margin-bottom: $leading*2;
}
