ul, ol {
  margin: $leading 0 $leading*2 0;
  padding-left: 1em;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
    margin:  0 0 $leading 0;
    padding-left: 0;
}

ul.link-list {
    list-style-type: none;
    padding: 0;
}
 ul.address-list{
    list-style-type: none;
    padding: 0;

    > li {
        margin: 0;
    }
 }

 ul.tabular-data {
  list-style-type: none;
  padding-left: 0;

  @include media(mid) {
     // padding-left: $leading*4;
  }

 }

li.tabular-data-row {
  @extend %contain-floats;
  border-top: 1px solid $grey-5;
  border-bottom: 1px solid $grey-5;
  padding-top: $leading*2;
  display: block;
  padding-bottom: $leading*2;
  margin-bottom: $leading*3;
  // border: 1px solid red;

  @include media(large) {
    padding-bottom: $leading;
  }

  clear: both;

  > div {
    display: inline-block;
    clear: both;
  }

  > .detail {
    float: left;
  }

  > .edit {
    float: right;
    
    @include media(mid) {
     margin-top: $leading*5;
    }
  }

  >.callout {
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $leading*2;

    @include media(mid){
      width: initial;
      // margin: 0 0 $leading*4 0;
    }
  }

}

.data-display-telephone {
  min-height: $leading*6;
}
