p {
  margin: $leading*2 0 $leading*2 0;
}

pre.user-input {
  @extend body;
  font-size: inherit;
}

p.tabular-prefix {
    @extend .heading-prefix;
}

// NHS.UK redesign typography which can be used for testing
body.nhs-redesign {
  p {
    margin-bottom: $baseline-grid-unit*4;
    @include media(mid) {
      margin-bottom: $baseline-grid-unit*6;
    }
  }

  .lede {
    margin-bottom: $baseline-grid-unit*6;
    @include media(mid) {
      margin-bottom: $baseline-grid-unit*5;
    }
  }
}
