<div class="callout callout--disposition measure">
  <p>
    It’s unlikely you have COVID-19 but you do need to get help for your symptoms.
  </p>
</div>

<!--

<div class="nhsuk-core callout measure nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6" style="background-color:#005eb8; color:#fff;">
  <p>
    It’s unlikely you have COVID-19 but you do need to get help for your symptoms.
  </p>
</div>

<div class="callout nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6" style="background-color:#005eb8; color:#fff;">
  <p>
    It’s unlikely you have COVID-19 but you do need to get help for your symptoms.
  </p>
</div>

-->
