{% extends '_layouts/layout.html' %}

{% block page_title %}Callback offered{% endblock %}

{% block content %}
<div class="content-block measure">
  <h1 class="h2">A nurse will call you within 15 minutes</h1>

  <div class="callout callout--attention">
    <p>
      If you call 111 before speaking to the nurse, you’ll have to answer the
      questions again.
    </p>
  </div>


  <div class="callout callout--info-alert">
    <p>This is "callback offered"</p>
  </div>

  <p>
    <a href="#">Send a confirmation to my phone</a>
  </p>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
