{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<!--
  Sexual assault
-->

<div class="content-block">
  <a href="javascript: return false;" class="button-back">Back</a>

  <h1>Get help as soon as you can</h1>

  <div class="content-seperator content-seperator--equalvertspacing"></div>

  <div class="disposition-set">
    <div class="disposition-unit">

      <div class="collapse-title">
        <h2>Before you get help</h2>
        <span class="collapse-title-indicator-verbose">
          <span class="show">Show</span>
          <span class="hide">Hide</span>
        </span>
      </div>

      <div class="collapse-content measure">
        <p>If you think you might report the assault to the police:</p>
        <ul>
          <li>cover any cuts, but don’t wash them</li>
          <li>don’t change or wash your clothes</li>
        </ul>
        <p>
          Call 999 to report it to the police. GOV.UK has information on what
          happens when you <a href="https://www.gov.uk/report-rape-sexual-assault">
          report a rape or sexual assault.</a>
        </p>

        <div class="care-advice-output">
          <h3>Caring for any injuries:</h3>
          <details>
            <summary>Wounds</summary>
            <div>
              <ul>
                <li>When the wound is checked, you may need to be given a tetanus immunisation.</li>
                <li>
                  If the wound is bleeding:
                  <ul>
                    <li>Use a dry dressing or a clean cloth to make a pad and press it firmly and directly onto the wound to stop the bleeding.</li>
                    <li>If the blood soaks through the pad, don't take it off. Place another pad on top of it and keep pressing it onto the wound.</li>
                    <li>If you're helping someone else, try to keep their blood off your skin.</li>
                    <li>Try to raise the limb above the level of your heart and continue to apply pressure. Don't use a tourniquet to stop the bleeding, unless one is already in place, in which case, do not remove it.</li>
                    <li>If the bleeding stops, secure the pad with a bandage or sticky tape. Make sure it's firm but not too tight.</li>
                    <li>Use pillows or a sling to keep the injured area raised.</li>
                  </ul>
                </li>
                <li>
                  If the wound is not bleeding:
                  <ul>
                    <li>Cover it with a plaster, a non-stick dressing or a non-fluffy clean cloth.</li>
                    <li>If you can, raise the injured area with pillows or a sling to above the level of the heart.</li>
                    <li>If it starts to bleed again fold a cloth into a pad and press firmly, directly onto the wound to stop the bleeding.</li>
                  </ul>
                </li>
              </ul>
            </div>
          </details>

          <details>
            <summary>Medication, pain and/or fever</summary>
            <div>
              <ul>
                <li>Paracetamol or ibuprofen can be used to relieve pain or a fever. Don't take if you've been told not to, or you've already taken some. Read the instructions on the packet, or talk to a pharmacist.</li>
                <li>If you're pregnant: Use paracetamol. Don't use ibuprofen unless a doctor, midwife or pharmacist has advised you to.</li>
              </ul>
            </div>
          </details>

          <details>
            <summary>Swelling, trauma</summary>
            <div>
              <ul>
                <li>Don't have anything to eat or drink before going to the hospital. A sip of water is fine, if you need to take medicine.</li>
                <li>Remove any tight clothing or jewellery from around the swelling.</li>
                <li>Wrap an ice pack (or bag of frozen peas) in a cloth and put it on the swelling for 15-20 minutes. Repeat every 2-3 hours when you are awake.</li>
                <li>Never put ice directly on your skin and don't leave ice on while you're asleep.</li>
                <li>
                  If your leg is affected:
                  <ul>
                    <li>Raise a swollen ankle or knee by sitting with your foot on a stool, or lying with it propped up on pillows.</li>
                  </ul>
                </li>
                <li>
                  If your arm or hand is affected:
                  <ul>
                    <li>Raise a swollen hand or wrist above the level of your heart using a sling. Use pillows in bed to raise it up.</li>
                  </ul>
                </li>
              </ul>
            </div>
          </details>
        </div>

      </div>

    </div>

    <div class="disposition-unit">

      <div class="collapse-title">
        <h2>Where to get help</h2>
        <span class="collapse-title-indicator-verbose">
          <span class="show">Show</span>
          <span class="hide">Hide</span>
        </span>
      </div>

      <div class="collapse-content">
        <div class="service-primary">
          <div class="measure">
            <h3>The best place to get help is Whitechapel Haven</h3>
            <p>
              The Havens are specialist centres in London for people who have
              been raped or sexually assaulted.
            </p>
            <div class="callout callout--attention">
              <p>
                Open 24 hours but you must phone 020 3299 6900 first for advice
                and an appointment.
              </p>
            </div>
          </div>

          <div class="location-section">
            <div class="details">
              <p>
                Whitechapel Haven<br>
                The Royal London Hospital<br>
                Whitechapel Road<br>
                London<br>
                E1 1BB
              </p>
            </div>
            <div class="geo">
              <div id="service-location" class="map-frame"></div>
            </div>
            <div class="map-controls">
              <span>2.4 miles away</span><br>
              <a href="#">Get directions</a><br>
              <a href="#">Change my location</a>
            </div>
          </div>
        </div>

        <!--
        <div class="service-primary">
          <div class="location-section">
            <div class="geo">
              <div id="service-location-2" class="map-frame"></div>
              <div class="map-controls">
                <div>
                  <span>0.7 miles away</span>
                  <a href="#">Get directions</a>
                </div>
                <div>
                  <a href="#">Change my location</a>
                </div>
              </div>
            </div>
            <div class="details">
              <p>
                Accident and Emergency<br>
                St Thomas’ Hospital<br>
                Westminster Bridge Road<br>
                Lambeth<br>
                London<br>
                SE1 7EH
              </p>
              <p>
                Open 24 hours
              </p>
            </div>
          </div>
        </div>
        -->

        <div class="measure">
          <p>
            If this recommended service isn’t right for you, you can <a href="#">view more services that can help.</a>
          </p>
        </div>
      </div>

    </div>

    <div class="disposition-unit">

      <div class="collapse-title">
        <h2>Get more advice and support</h2>
        <span class="collapse-title-indicator-verbose">
          <span class="show">Show</span>
          <span class="hide">Hide</span>
        </span>
      </div>

      <div class="collapse-content measure">
        <p>You can speak to charities and support groups for advice about what to do:</p>
        <ul>
          <li>
            <a href="https://rapecrisis.org.uk">Rape crisis</a>
          </li>
          <li>
            <a href="https://www.victimsupport.org.uk/">Victim support</a>
          </li>
          <li>
            <a href="http://thesurvivorstrust.org/">Survivor’s Trust</a>
          </li>
          <li>
            <a href="https://www.galop.org.uk/">Galop</a> &mdash; for LGBT communities
          </li>
          <li>
            <a href="https://www.survivorsuk.org/">Survivors UK</a> &mdash; for men
          </li>
        </ul>
        <p>
          You can search for <a href="https://www.nhs.uk/service-search/Rape-and-sexual-assault-referral-centres/LocationSearch/364">
          sexual assault referral centres</a> by postcode on NHS.UK
        </p>
      </div>

    </div>
  </div>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM&libraries=places"></script>
  <script>
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: 51.518359,
          lng: -0.059963
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      marker = new google.maps.Marker({position: mapObj.getCenter(), map: mapObj});
    });
  </script>
{% endblock %}
