{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}GPOC prototypes{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <div class="callout callout--attention">
    <p>
      <strong>Note</strong><br>
      Content in these prototypes has been <strong>superseded.</strong>
    </p>
  </div>

  <h1 class="nhsuk-heading-l">NHS 111 coronavirus prototypes</h1>
  <h2 class="nhsuk-heading-m">Phase 2: interaction logic</h2>

  <ul>
    <li>
      <a href="/coronavirus/phase-1/banner">Banner</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="/coronavirus/phase-1/start">Start</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/start-nhsuk">Start (NHS.UK)</a>
    </li>
  </ul>

  <ul>
    <li>
      <strike><a href="/coronavirus/phase-1/question-country">Question 1</a> <b>superseded</b></strike>
    </li>
    <li>
      <strike><a href="/coronavirus/phase-1/question-specific-place">Question 2</a> <b>superseded</b></strike>
    </li>
    <li>
      <strike><a href="/coronavirus/phase-1/question-country-2">Question 3</a> <b>superseded</b></strike>
    </li>
    <li>
      <strike><a href="/coronavirus/phase-1/question-contact">Question 4</a> <b>superseded</b></strike>
    </li>
    <li>
      <strike><a href="/coronavirus/phase-1/question-symptom">Question 5</a> <b>superseded</b></strike>
    </li>
  </ul>


  <ul>
    <li>
      <a href="/coronavirus/phase-1/dxcv192-isolate-111-symptoms">DxCV192: isolate with symptoms</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/dxcv193-isolate-no-symptoms">DxCV193: isolate and asymptomatic</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/dxcv194-info-symptoms">DxCV194: information only (with other symptoms)</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/dxcv196-info-travel">DxCV196: information only (has travelled)</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/dxcv195-info-only">DxCV195: information only</a>
    </li>
  </ul>

  <h2 class="nhsuk-heading-m">
    Build stage:<br>
    Mild: testing,<br>
    Severe: call 111
  </h2>
  <p>Additional question and Dx split</p>
  <ul>
    <li>
      <a href="/coronavirus/phase-2/question-existential-check-redux">Question: Have you got...</a>
    </li>
    <li>
      <a href="/coronavirus/phase-2/outcome-mild">Outcome: mild</a>
    </li>
    <li>
      <a href="/coronavirus/phase-2/outcome-severe">Outcome: severe</a>
    </li>
    <li>
      <a href="/coronavirus/phase-2/confirmation-mild">Confirmation: mild</a>
    </li>
    <li>
      <a href="/coronavirus/phase-2/confirmation-severe">Confirmation: severe</a>
    </li>
  </ul>


</div>

{% endblock %}
