{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}GPOC prototypes{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">NHS 111 coronavirus prototypes</h1>
  <h2 class="nhsuk-heading-m">Phase 2: interaction logic</h2>

  <ul>
    <li>
      <a href="/coronavirus/phase-1/banner">Banner</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="/coronavirus/phase-1/start">Start</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="/coronavirus/phase-1/question-country">Question 1</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/question-specific-place">Question 2</a>
    </li>
      <li>
        <a href="/coronavirus/phase-1/question-country-2">Question 3</a>
      </li>
    <li>
      <a href="/coronavirus/phase-1/question-contact">Question 4</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/question-symptom">Question 5</a>
    </li>
  </ul>


  <ul>
    <li>
      <a href="/coronavirus/phase-1/outcome-isolate-111-symptoms">Outcome: isolate with symptoms</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/outcome-isolate-no-symptoms">Outcome: isolate asymptomatic</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/outcome-info-symptoms">Outcome: information only (with other symptoms)</a>
    </li>
    <li>
      <a href="/coronavirus/phase-1/outcome-info-only">Outcome: information only</a>
    </li>
  </ul>


</div>

{% endblock %}
