{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Get medical help near you</h1>
    <ol>
      <li>Answer questions on this site about your main symptom.</li>
      <li>Get advice on where to go for help and when, or a call back from a nurse.</li>
      <li>Find out what to do if you can’t see your usual doctor or dentist.</li>
    </ol>
    <div class="callout callout--info">
      You can read general information on <a href="#">health problems</a> or
      about <a href="#">medicines</a> on <a href="#">NHS.UK.</a>
    </div>
    <div class="shunt-2">
      <a href="/start/proxy" class="button">Start</a>
    </div>
  </div>

  <div class="content-block">
    <p>
      Always follow any medical advice you’ve already been given by your
      doctor. See our <a href="#">terms.</a>
    </p>
  </div>

</div>

{% endblock %}
