{% set show_supplemental_footer_links = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Get medical help near you</h1>
    <ol>
      <li>Answer questions on this site about your main symptom.</li>
      <li>Get advice on where to go for help and when, or a call back from a nurse.</li>
      <li>Find out what to do if you can’t see your usual doctor or dentist.</li>
    </ol>
    <div class="shunt-2">
      <a href="/start/proxy" class="button">Start</a>
    </div>
  </div>

  <div class="content-block">
    <div class="callout callout--info">
      <p>Always follow any medical advice you’ve already been given by your doctor. This service is not a replacement for seeing a health professional. You can read read more about this in our <a href="#">terms and conditions</a>.</p>
    </div>
  </div>

</div>

{% endblock %}
