{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">
  {% if error.summary %}
    <div class="error-summary">
      <div>
        <h2>There’s a problem</h2>
        <p>{{ error.summary | safe }}</p>
      </div>
    </div>
  {% endif %}

  <h1>Where are you?</h1>

  <p>Please give as much detail as you can.</p>

  <form method="post" class="shunt">
    <fieldset>
      <div class="form-group">
        <label for="address_1">
          Address
        </label>
        {% if session.addressResults | length === 1 %}
          {% for line in session.addressResults[0] %}
            {% if line !== "" %}
              <input type="text" id="address_{{ loop.index0 }}" name="address_{{ loop.index0 }}" autocomplete="off" value="{{ line }}">
            {% endif %}
            {% if loop.last %}
              <input type="text" id="address_{{ loop.length }}" name="address_{{ loop.length }}" autocomplete="off" value="">
            {% endif %}
          {% endfor %}
        {% else %}
          <input type="text" id="address_0" name="address_0" autocomplete="off" value="">
          <input type="text" id="address_1" name="address_1" autocomplete="off" value="">
          <input type="text" id="address_2" name="address_2" autocomplete="off" value="">
          <input type="text" id="address_3" name="address_3" autocomplete="off" value="">
          <input type="text" id="address_4" name="address_4" autocomplete="off" value="">
        {% endif %}
      </div>
      <div class="form-group">
        <label for="postcode">
          Postcode
        </label>
        <input type="text" id="postcode" name="postcode" class="-small" autocomplete="off" value="{{ session.addressPostcode }}">
      </div>
    </fieldset>
    <div class="form-group shunt-2">
      <button type="submit" class="button">Next</button>
    </div>
    <p>
      <a href="/start/location">I don’t know the full address</a>
    </p>
  </form>
</div>

{% endblock %}
