{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <a href="javascript: window.history.back();" class="button-back">Back</a>

  <div class="measure">
    <h1>More services that can help</h1>
    <div class="callout callout--warning">
      <p>Get help as soon as you can.</p>
    </div>
  </div>
</div>

<div class="content-block">
  <h2>Places you can go</h2>

  <div class="map-multiple shunt-2">
    <div id="map"></div>
  </div>

  <div class="service-group">
    <div class="panel service">
      <div id="service_1" class="hook"></div>
      <div class="label small">
        <span>1</span>
      </div>
      <div class="address small">
        Paddington Haven<br>
        St Marys Hospital<br>
        Praed Street<br>
        London<br>
        W2 1NY
      </div>
      <div class="hours small">
        Open 24 hours
      </div>
      <div class="details small">
        <div class="directions">
          <a href="#" id="showCenter">3.5 miles away - get directions</a>
        </div>
        <div class="contact">
          Web: <a href="https://www.imperial.nhs.uk/our-services/emergency-care/accident-and-emergency">www.imperial.nhs.uk</a><br>
          Tel: 020 3312 2808
        </div>
      </div>
      <div class="features small">
        <div class="callout callout--info measure">
          <p>
            The Havens are specialist centres in London for people who have
            been raped or sexually assaulted.
          </p>
          <p>
            Open 24 hours but you must phone 020 3312 2808 first for advice
            and an appointment.
          </p>
        </div>
      </div>
    </div>

    <div class="panel service">
      <div id="service_2" class="hook"></div>
      <div class="label small">
        <span>2</span>
      </div>
      <div class="address small">
        Emergency Department<br>
        St Thomas Hospital<br>
        Westminster Bridge Road<br>
        London<br>
        SE1 7EH
      </div>
      <div class="hours small">
        <table class="compact">
          <caption>Opening hours</caption>
          <tr>
            <th scope="row">Monday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Tuesday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Wednesday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Thursday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Friday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Saturday</th>
            <td>10am to 2pm</td>
          </tr>
          <tr>
            <th scope="row">Sunday</th>
            <td>Closed</td>
          </tr>
        </table>
      </div>
      <div class="details small">
        <div class="directions">
          <a href="#">0.8 miles away - get directions</a>
        </div>
        <div class="contact">
          Web: <a href="http://www.guysandstthomas.nhs.uk">www.guysandstthomas.nhs.uk</a>
        </div>
      </div>
      <!--<div class="features small"></div>-->
    </div>

    <div class="panel service">
      <div id="service_3" class="hook"></div>
      <div class="label small">
        <span>3</span>
      </div>
      <div class="address small">
        Emergency Department<br>
        Kings College Hospital<br>
        Denmark Hill<br>
        London<br>
        SE5 9RS
      </div>
      <div class="hours small">
        Open 24 hours
      </div>
      <div class="details small">
        <div class="directions">
          <a href="#">2 miles away - get directions</a>
        </div>
        <div class="contact">
          Web: <a href="http://www.kch.nhs.uk/patientsvisitors/patients/emergency-patients">www.kch.nhs.uk</a>
        </div>
      </div>
      <!--<div class="features small"></div>-->
    </div>
  </div>

  <div>
    <a href="#">Change my location</a>
  </div>
</div>

<div class="content-seperator content-seperator--equal-vert-spacing"></div>

<div class="content-block">
  <h2>Services you can talk to</h2>

  <div class="service-group">
    <div class="panel remote-service">
      <div class="name small">
        A remote service
      </div>
      <div class="hours small">
        Available 24 hours
      </div>
      <div class="details small">
        <a href=""><b>Book a call</b></a>
      </div>
      <div class="features small">
        <div class="callout callout--info measure">
          <p>
            The Remote Service are specialist advisors in London for people who
            have been raped or sexually assaulted.
          </p>
        </div>
      </div>
    </div>

    <div class="panel remote-service">
      <div class="name small">
        A different remote service
      </div>
      <div class="hours small">
        Available 24 hours
      </div>
      <div class="details small">
        Call <a href=""><b>0800 1234 1234</b></a>
      </div>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="measure">
    <div class="callout callout--info">
      <p>
        If there are any new symptoms, or the condition gets worse,
        <a href="/book-callback/book-call-number">book a call with a nurse.</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>

    var highlightService = function() {
      var $group = $('.panel.service');
      var $target = $('#service_' + this.label.text);
      $group.removeClass('selected');
      $target.parent().addClass('selected');
      $target[0].scrollIntoView({ behavior: 'smooth', block: 'start' });
    };

    $(function() {
      mapObj = new google.maps.Map(document.getElementById('map'), {
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });

      var locations = [
        {lat: 51.517415, lng: -0.174041},
        {lat: 51.498244, lng: -0.119203},
        {lat: 51.467897, lng: -0.094346}
      ];
      var markers = [];

      for (var i = 0; i < locations.length; i++) {
        var marker = new google.maps.Marker({
          position: locations[i],
          map: mapObj,
          label: {
            text: '' + (i+1),
            fontWeight: 'bold',
            color: 'white'
          }
        });
        marker.addListener('click', highlightService)
        markers.push(this);
      }

      var bounds = new google.maps.LatLngBounds();
      for (var i = 0; i < locations.length; i++) {
        bounds.extend(locations[i]);
      }
      mapObj.fitBounds(bounds);

      $('#showCenter').on('click', function(e) {
        e.preventDefault();
        var center = mapObj.getCenter();
        console.log(center.lat());
        console.log(center.lng());
      });

    });
  </script>
{% endblock %}
