{% extends '_layouts/layout.html' %}

{% block page_title %}
  {% if practiceName %}
    {{ practiceName }}
  {% else %}
    {{serviceName}}
  {% endif %}
{% endblock %}

{% block content %}

<div class="measure">

  <h1>Getting care with 111 Online</h1>

    <p>Use this service when:</p>

    <ul>
      <li>you need medical help, but it's not a 999 emergency</li>
      <li>you don't know who to contact, or your normal service isn't available</li>
    </ul>

  <div class="callout callout--muted">
    <h2>How does 111 work?</h2>
    <ul>
      <li>Answer a series of questions about your symptoms</li>
      <li>You'll get advice on who you need to see, and how urgently</li>
      <li>We'll connect you to the right healthcare for your medical needs</li>
    </ul>
    <p>The service doesn't diagnose specific conditions.</p>
  </div>

  <div class="cta">
    <a href="name" class="button">Start</a>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
