<footer id="global-footer" role="contentinfo">
  <div class="footer-container">
    <p class="small">
      This website only stores the cookies that are needed to make it work.
      Read more about how <a href="javascript:return false;" class="link--reverse-polarity">
      we use cookies.</a>
    </p>
    <ul class="link-list measure">
      <li><a class="link--reverse-polarity" href="javascript:return false;">Privacy statement</a></li>
      <li><a class="link--reverse-polarity" href="javascript:return false;">Terms and conditions</a></li>
    </ul>
  </div>
</footer>
