{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<form action="" class="form content-block measure" method="post">

  <h1 class="h2">Tell us about you, or the person you’re asking about</h1>

  <div class="callout callout--info shunt-2">
    <p>Call 111 if you're asking about someone under 5</p>
  </div>

  <fieldset>
    <legend><b>Sex</b></legend>
    <div class="form-group">
      <label for="female" class="block-label">
        Female
        <input type="radio" id="female" name="sex" value="Female">
      </label>
    </div>

    <div class="form-group">
      <label for="male" class="block-label">
        Male
        <input type="radio" id="male" name="sex" value="Male">
      </label>
    </div>
  </fieldset>

  <details>
    <summary>Why aren’t there more options?</summary>
    <div class="callout" id="details-content-0" aria-hidden="true">
      <p>
        Some clinical assessments can be different depending on your sex. Not
        everyone sees themselves as female or male, so if neither option is
        right for you call 111.
      </p>
      <p>
        We want to improve the service in the future so it works for everyone.
      </p>
    </div>
  </details>

  <fieldset id="dob-group">
    <legend><b>Date of birth</b></legend>
    <div class="form-group -date">
      <div>
        <label for="dob-day">Day</label>
        <input type="number" id="dob-day" name="dob-day" value="{{ session.callBooking.dob.day }}" class="day" maxlength="2" autocomplete="off">
      </div>
      <div>
        <label for="dob-month">Month</label>
        <input type="number" id="dob-month" name="dob-month" value="{{ session.callBooking.dob.month }}" class="month" maxlength="2" autocomplete="off">
      </div>
      <div>
        <label for="dob-year">Year</label>
        <input type="number" id="dob-year" name="dob-year" value="{{ session.callBooking.dob.year }}" class="year" maxlength="4" autocomplete="off">
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <label for="age"><b>Age in years</b></label>
    <input class="-tiny" id="age" name="age" type="tel" value="" autocomplete="off">
  </div>

  <div class="form-controls shunt-2">
    <button class="button" type="submit">Next</button>
  </div>
</form>

{% endblock %}
