{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
      <h1 class="heading--large">Get medical help near you</h1>
      <ol>
        <li>Answer questions on this site about your main symptom.</li>
        <li>Get advice on where to go for help and when, or a call back from a nurse.</li>
        <li>Find out what to do if you can’t see your usual doctor or dentist.</li>
      </ol>

      <div class="content-seperator content-seperator--equalvertspacing--large"></div>

      <h2>Where are you now?</h2>
      <p>Tell us where you are now to get help in that area.</p>

      <form action="/gateway/emergency-check" method="get" class="content-block">
        <fieldset>
          <div class="form-group postcode">
            <div>
              <label for="postcode">Postcode</label>
              <input type="text" id="postcode" name="postcode" class="-small" autocomplete="off">
            </div>
            <div class="geolocate-link">
              <a href="#" id="geolocate">Use my current location</a>
              <span id="loader" class="load-container js-hidden">
                <span class="loader"></span>
              </span>
            </div>
          </div>
        </fieldset>
        <div class="form-group -controls">
          <a href="/gateway/emergency-check" class="button">Next</a>
        </div>
      </form>
  </div>

  <div class="callout callout--info">
    <p>Always follow any medical advice you’ve already been given by your doctor. This service is not a replacement for seeing a health professional. You can read read more about this in our <a href="#">terms and conditions</a>.</p>
  </div>

</div>

{% endblock %}

{% block body_after %}
<script type="text/javascript">

  $(function() {
    $('#geolocate').on('click', function(e) {
      e.preventDefault();
      $('#loader').removeClass('js-hidden');
      $('#postcode').attr('disabled', 'true');
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        // do stuff with the pos object
        $.get('https://api.postcodes.io/postcodes?lon=' + pos.lng + '&lat=' + pos.lat, function(data) {
          $('#postcode').val(data.result[0].postcode);
          $('#loader').addClass('js-hidden');
          $('#postcode').removeAttr('disabled');
        });
      });
    });
  });

</script>
{% endblock %}
