{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
      <h1 class="heading--large">How 111 online works</h1>
      <p>Find out how to get medical help near you - what NHS service you might need.</p>
      <ol>
        <li>Answer questions about your main symptom - some are to rule out more serious conditions.</li>
        <li>You won’t get a diagnosis, but you’ll know what to do next.</li>
      </ol>
      <div class="content-seperator content-seperator_equalvertspacing"></div>
      <h2>Where are you now?</h2>
      <p>Tell us where you are now to get help in that area.</p>

      <form method="post" class="content-block">
        <fieldset>
          <div class="form-group postcode">
            <div>
              <label for="postcode">Postcode</label>
              <input type="text" id="postcode" name="postcode" class="-small">
            </div>
            <div class="location"><a href="address-auto-display">Use my current location</a></div>
          </div>
        </fieldset>
        <div class="form-group -controls">
          <button type="submit" class="button">Next</button>
        </div>
      </form>
  </div>

  <div class="callout callout--info">
    <p>Always follow any medical advice you’ve already been given by your doctor. This service is not a replacement for seeing a health professional. You can read read more about this in our <a href="#">terms and conditions</a>.</p>
  </div>

  <div class="content-block">
    <p>
      You can read <a href="#">advice on what to do</a> if you’re worried about the Salisbury nerve agent incident.
    </p>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
