{% extends '_layouts/layout.html' %}

{% block page_title %}
{{ journey }}
{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="h2">Have you answered this question correctly?</h1>

  <div class="callout callout--disposition">
    <p>{{ session.userJourney.question.question }}</p>
    {% if session.userJourney.question.help !== '' %}
    <p class="small">{{ session.userJourney.question.help }}</p>
    {% endif %}
  </div>

  <p>You said “{{ session.userJourney.question.userAnswer }}” which means you may need urgent help.</p>

  <form class="form" method="post">
    <legend><b>Do you want to look at it again?</b></legend>
    <fieldset class="shunt">
      <div class="form-group">
        <label for="yes" class="block-label">
          Yes
          <input type="radio" id="yes" name="revisitQuestion" value="yes">
        </label>
      </div>

      <div class="form-group">
        <label for="no" class="block-label">
          No
          <input type="radio" id="no" name="revisitQuestion" value="no">
        </label>
      </div>
    </fieldset>

    <div class="form-group -controls">
      <button type="submit" class="button">Next</button>
    </div>
  </form>

</div>

{% endblock %}
