{% set question = "Have you got an agonising headache, right now, like you were suddenly hit with something hard?" %}
{% if session.userJourney.question.question %}
  {% set question = session.userJourney.question.question %}
{% endif %}

{% set help = "This is a headache that came on in seconds like a thunder clap, if it's any other type of headache answer no." %}
{% if session.userJourney.question.help %}
  {% set question = session.userJourney.question.help %}
{% endif %}

{% set answer = "Yes" %}
{% if session.userJourney.question.userAnswer %}
  {% set answer = session.userJourney.question.userAnswer %}
{% endif %}


{% extends '_layouts/layout.html' %}

{% block page_title %}
{{ journey }}
{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="h2">Have you answered this question correctly?</h1>

  <div class="callout callout--attention">
    <p>{{ question }}</p>
    {% if help !== '' %}
    <p class="small">{{ help }}</p>
    {% endif %}
  </div>

  <p>You said “{{ answer }}” which means you may need urgent help.</p>

  <form class="form" method="post">
    <legend><b>Do you want to look at it again?</b></legend>
    <fieldset class="shunt">
      <div class="form-group">
        <label for="yes" class="block-label">
          Yes
          <input type="radio" id="yes" name="revisitQuestion" value="yes">
        </label>
      </div>

      <div class="form-group">
        <label for="no" class="block-label">
          No
          <input type="radio" id="no" name="revisitQuestion" value="no">
        </label>
      </div>
    </fieldset>

    <div class="form-group -controls">
      <button type="submit" class="button">Next</button>
    </div>
  </form>

</div>

{% endblock %}
