{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

{% set collapse = true %}
{% set physicalLen = physical | length %}
{% set nonphysicalLen = nonphysical | length %}

{% if physicalLen > 0 and nonphysicalLen === 0 or nonphysicalLen > 0 and physicalLen === 0 %}
  {% set collapse = false %}
{% endif %}

<div class="content-block">
  <a href="/user-journeys/primary-offering" class="button-back">Back</a>

  <h1>More services that can help</h1>

  {% if collapse === true %}
    <div class="content-seperator content-seperator--equalvertspacing"></div>

    <div class="collapse-title">
      <h2>Places you can go</h2>
      <span class="collapse-title-indicator-verbose">
        <span class="show">Show</span>
        <span class="hide">Hide</span>
      </span>
    </div>
  {% endif %}

  {% if physicalLen > 0 %}
    <div{% if collapse === true %} class="collapse-content"{% endif %}>
      <div class="map-multiple full-width shunt-2">
        <div id="map"></div>
      </div>
      <!--
      <p><a href="#" id="showCenter">Show centre</a></p>
      -->
      <div class="places full-width">
        {% for service in physical%}
          <div class="service-multiple">
            <div class="label small">
              <span>{{ loop.index }}</span>
            </div>
            <div class="details small">
              {{ service.address | safe }}
            </div>
            <div class="directions small">
              <p>
                <span>{{ service.distance }} away</span><br>
                <a href="#" id="showCenter">Get directions</a>
              </p>
            </div>
            <div class="features small">
              {{ service.intro | safe }}
              <p>{{ service.openingTimes }}</p>
            </div>
          </div>
        {% endfor %}

        <div class="service-multiple">
          <div class="small">
            <p>
              <a href="#">Change my location</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  {% endif %}

  {% if collapse === true %}
    <div class="collapse-title">
      <h2>Services you can talk to</h2>
      <span class="collapse-title-indicator-verbose">
        <span class="show">Show</span>
        <span class="hide">Hide</span>
      </span>
    </div>
  {% endif %}

  {% if nonphysicalLen > 0 %}
    <div{% if collapse === true %} class="collapse-content"{% endif %}>
      <div class="remote-services full-width">
        {% for service in nonphysical %}
        <div class="service-multiple">
          <div class="details small">
            <p>
              {{ service.name }}
            </p>
          </div>
          <div class="features small">
            {{ service.intro | safe }}
            <p>
              {{ service.openingTimes }}
            </p>
          </div>
          <div class="cta small">
            {{ service.action | safe }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: {{ mapCenter.lat }},
          lng: {{ mapCenter.long }}
        },
        zoom: 12,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });

      var locations = [
        {% for service in physical%}
          {
            lat: {{ service.lat }},
            lng: {{ service.long }}
          },
        {% endfor %}
      ];
      marker_1 = new google.maps.Marker({
        position: locations[0],
        map: mapObj,
        label: {
          text: '1',
          fontWeight: 'bold',
          color: 'white'
        }
      });
      marker_2 = new google.maps.Marker({
        position: locations[1],
        map: mapObj,
        label: {
          text: '2',
          fontWeight: 'bold',
          color: 'white'
        }
      });
      marker_3 = new google.maps.Marker({
        position: locations[2],
        map: mapObj,
        label: {
          text: '3',
          fontWeight: 'bold',
          color: 'white'
        }
      });

      $('#showCenter').on('click', function(e) {
        e.preventDefault();
        var center = mapObj.getCenter();
        console.log(center.lat());
        console.log(center.lng());
      });

    });
  </script>
{% endblock %}
