{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <a href="primary-service" class="button-back">Back</a>

  <div class="measure">
    <h1>More services that can help</h1>
    <p>Get help as soon as you can.</p>
  </div>
</div>

<div class="content-block">

  <div class="service-panel place">
    <h2 class="service-label-header">Emergency Department</h2>
    <div class="service-address">
      Dewsbury District Hospital<br>
      Halifax Road<br>
      Dewsbury<br>
      WF13 4HS
    </div>
    <div class="service-map">
      <a href="#">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=640x480&maptype=roadmap&markers=40.702147,-74.015794&key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM">
      </a>
    </div>
    <div class="service-distance">
      <a href="#">
        7.4 miles away &mdash; get directions
      </a>
    </div>
    <div class="service-hours">
      Open 24 hours
    </div>
    <div class="service-advice">
      <span class="highlighter">You don’t need to make an appointment for this service</span>
    </div>
    <div class="service-further-info">
      <a href="#">
        More information
      </a>
    </div>
  </div>

  <div class="service-panel">
    <h2 class="service-label-header">West London Mental Health Trust</h2>
    <div class="service-hours">
      Open 24 hours
    </div>
    <div class="service-access">
      Phone based service, call
      <span class="service-tel">0300 1234 244</span>
    </div>
    <div class="service-advice">
      <span class="highlighter">You don’t need to make an appointment for this service</span>
    </div>
    <div>
      <a href="#">More information</a>
    </div>
  </div>

  <div class="service-panel">
    <h2 class="service-label-header">Somewhere callback service</h2>
    <div class="service-hours">
      Open 24 hours
    </div>
    <div class="service-access">
      Phone based service
      <a href="#" class="service-link">Book a call</a>
    </div>
    <div class="service-advice">
      <span class="highlighter">This service will call you back when you book a call</span>
    </div>
    <div>
      <a href="#">More information</a>
    </div>
  </div>

  <div class="service-panel place">
    <h2 class="service-label-header">Emergency Department</h2>
    <div class="service-address">
      Bradford Royal Infirmary<br>
      Duckworth Lane<br>
      Bradford<br>
      BD9 6RJ
    </div>
    <div class="service-map">
      <a href="#">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=640x480&maptype=roadmap&markers=40.702147,-74.015794&key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM">
      </a>
    </div>
    <div class="service-distance">
      <a href="#">
        9.9 miles away &mdash; get directions
      </a>
    </div>
    <div class="service-hours">
      Open 24 hours
    </div>
    <div class="service-advice">
      <span class="highlighter">You don’t need to make an appointment for this service</span>
    </div>
    <div class="service-further-info">
      <a href="#">
        More information
      </a>
    </div>
  </div>

  <div class="service-panel">
    <h2 class="service-label-header">Richmond Wellbeing Service</h2>
    <div class="service-hours">
      Open 24 hours
    </div>
    <div class="service-access">
      Phone based service
      <a href="#" class="service-link">Refer online</a>
    </div>
    <div>
      <span class="service-access">
        <span class="highlighter">Refer yourself online</span>
      </span>
    </div>
    <div class="service-further-info">
      <a href="#">More information</a>
    </div>
  </div>

  <div class="service-panel place">
    <h2 class="service-label-header">Limited opening hours place</h2>
    <div class="service-address">
      Address line<br>
      Second address line<br>
      Notown<br>
      BD9 6RJ
    </div>
    <div class="service-map">
      <a href="#">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=640x480&maptype=roadmap&markers=40.702147,-74.015794&key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM">
      </a>
    </div>
    <div class="service-distance">
      <a href="#">
        12.9 miles away &mdash; get directions
      </a>
    </div>
    <div class="service-hours">
      Open 8am to 5.30pm Monday to Friday
    </div>
    <div class="service-advice">
      <span class="highlighter">You need to book an appointment for this service</span>
    </div>
    <div class="service-further-info">
      <a href="#">
        More information
      </a>
    </div>
  </div>

</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <p>
    <a href="#">Change my location</a>
  </p>
  <div class="callout callout--info">
    <p>
      If your symptoms get worse, call 111
    </p>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
