{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <a href="javascript: return false;" class="button-back">Back</a>

  <h1>{{ callToAction }}</h1>

  <div class="content-seperator content-seperator--equalvertspacing"></div>

  <div class="disposition-set">
    {% if preamble !== '' %}
      <div class="disposition-unit">

        <div class="collapse-title">
          <h2>Before you get help</h2>
          <span class="collapse-title-indicator-verbose">
            <span class="show">Show</span>
            <span class="hide">Hide</span>
          </span>
        </div>

        <div class="collapse-content measure">
          {{ preamble | safe }}
        </div>

      </div>
    {% endif %}

    <div class="disposition-unit">

      <div class="collapse-title">
        <h2>Where to get help</h2>
        <span class="collapse-title-indicator-verbose">
          <span class="show">Show</span>
          <span class="hide">Hide</span>
        </span>
      </div>

      <div class="collapse-content">
        <div class="service-primary">
          <div class="measure">
            <h3>The best place to get help is {{ name }}</h3>
            {{ intro | safe }}
          </div>

          <div class="location-section">
            <div class="details small">
              <p>
                {{ address | safe }}
              </p>
              {{ openingTimes | safe }}
            </div>
            <div class="geo">
              <div id="service-location" class="map-frame"></div>
            </div>
            <div class="map-controls small">
              <span>{{ distance }} away</span><br>
              <a href="#">Get directions</a><br>
              <a href="#">Change my location</a>
            </div>
          </div>
        </div>

        <div class="measure">
          <p>
            If this recommended service isn’t right for you, you can <a href="/user-journeys/further-offering">
            view more services that can help.</a>
          </p>
          {{ postscript | safe }}
        </div>
      </div>

    </div>

    <div class="disposition-unit">

      <div class="collapse-title">
        <h2>Get more advice and support</h2>
        <span class="collapse-title-indicator-verbose">
          <span class="show">Show</span>
          <span class="hide">Hide</span>
        </span>
      </div>

      <div class="collapse-content measure">
        {{ careAdvice | safe }}
      </div>

    </div>

  </div>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: {{ lat }},
          lng: {{ long }}
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      marker = new google.maps.Marker({position: mapObj.getCenter(), map: mapObj});
    });
  </script>
{% endblock %}
