{% set suppress_feedback = true %}

{% set moreservices = "/service-list/multiple-service-offering" %}
{% if moreServicesLink %}
  {% set moreservices = moreServicesLink %}
{% endif %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <a href="#" class="button-back">Back</a>
  <h1>Where to get help</h1>
  <p>{{ callToAction }}</p>

  <div class="measure">
    <h3>{{ name }}</h3>
    {{ important_service_info | safe }}
  </div>

  <div class="location-section">
    <div class="geo">
      <div id="service-location" class="map-frame"></div>
    </div>
    <div class="address small">
      <p>
        {{ address | safe }}
      </p>
    </div>
    <div class="directions small">
      <p>
        <a href="#">{{ distance }} away &mdash; get directions</a><br>
        <a href="#">Change my location</a>
      </p>
    </div>
    <div class="hours small">
      <p>
        {{ openingTimes | safe }}
      </p>
      <p class="contact">
        Web: <a href="http://www.localcaredirect.org/centre/st-georges-centre-urgent-care/">www.localcaredirect.org</a><br>
        Tel: 0330 311 5106
      </p>
    </div>
  </div>

  <!-- boilerplate service type text -->
  <div class="measure">
    <details>
      <summary>
        More information about this service
      </summary>
      <div>
        <p>
          The emergency department is for critical or life-threatening injuries
          or illnesses. Also known as accident and emergency or casualty.
        </p>
      </div>
    </details>
  </div>

  <div class="measure">
    <p>
      <a href="multiple-services">See more services that can help,</a> if the
      recommended one isn’t right for you.
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <h2>Care advice</h2>
    {{ careAdvice | safe }}

    <div class="callout callout--info">
      <p>
        If your symptoms get worse, call 111
      </p>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: {{ lat }},
          lng: {{ long }}
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      marker = new google.maps.Marker({position: mapObj.getCenter(), map: mapObj});
    });
  </script>
{% endblock %}
