{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <a href="javascript: window.history.back();" class="button-back">Back</a>

  <h1>Where to get help</h1>

  <div class="measure">
    <h3>City and Hackney Crisis Pathway Services</h3>
  </div>

  <div class="details-section">
    <div class="contact">
      <div>Call 020 8432 8020</div>
    </div>
    <div class="details small">
      <div class="hours">
        Available 24 hours
        <!--
        <table class="compact">
          <tr>
            <th scope="row">Monday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Tuesday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Wednesday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Thursday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Friday</th>
            <td>9am to 5pm</td>
          </tr>
          <tr>
            <th scope="row">Saturday</th>
            <td>10am to 2pm</td>
          </tr>
          <tr>
            <th scope="row">Sunday</th>
            <td>Closed</td>
          </tr>
        </table>
        -->
      </div>
      <div class="other-details">
        <a href="https://www.elft.nhs.uk/service/325/City-and-Hackney-Crisis-Services">
          www.elft.nhs.uk
        </a>
      </div>
    </div>
  </div>

  <div class="measure">
    <details>
      <summary>
        More information about this service
      </summary>
      <div>
        <p>
          This is a service with trained mental health specialists.
        </p>
        <!--
        <p>
          The Crisis Pathway Service offers immediate support to people in crisis or
          in distress, but also follow up with a range of interventions to help
          individuals to develop ways to cope with difficulties in their life and
          find ways that help to avoid a crisis.
        </p>
        -->
      </div>
    </details>
  </div>

  <div class="measure">
    <div class="callout callout--warning">
      <p>Get help as soon as you can</p>
    </div>
    <p>
      If this recommended service isn’t right for you, you can <a href="/service-list/multiple-service-offering">
      view more services that can help.</a>
    </p>
    {{ postscript | safe }}
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">

    <div class="callout callout--info">
      <p>
        If your symptoms get worse, call 111
      </p>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
