{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <a href="javascript: window.history.back();" class="button-back">Back</a>

  <h1>Where to get help</h1>

  <div class="measure">
    <h3>{{ name }}</h3>
    {{ intro | safe }}
  </div>

  <div class="location-section">
    <div class="geo">
      <div id="service-location" class="map-frame"></div>
    </div>
    <div class="address small">
      <p>
        {{ address | safe }}
      </p>
    </div>
    <div class="directions small">
      <p>
        <a href="#">{{ distance }} away - get directions</a><br>
        <a href="#">Change my location</a>
      </p>
    </div>
    <div class="hours small">
      {{ openingTimes | safe }}
      <!--
      <table class="compact">
        <tr>
          <th scope="row">Monday</th>
          <td>9am to 5pm</td>
        </tr>
        <tr>
          <th scope="row">Tuesday</th>
          <td>9am to 5pm</td>
        </tr>
        <tr>
          <th scope="row">Wednesday</th>
          <td>9am to 5pm</td>
        </tr>
        <tr>
          <th scope="row">Thursday</th>
          <td>9am to 5pm</td>
        </tr>
        <tr>
          <th scope="row">Friday</th>
          <td>9am to 5pm</td>
        </tr>
        <tr>
          <th scope="row">Saturday</th>
          <td>10am to 2pm</td>
        </tr>
        <tr>
          <th scope="row">Sunday</th>
          <td>Closed</td>
        </tr>
      </table>
      -->
    </div>
  </div>

  <div class="measure">
    <div class="callout {{ callToActionLevel }}">
      <p>{{ callToAction }}</p>
    </div>
    <p>
      If this recommended service isn’t right for you, you can <a href="/service-list/multiple-service-offering">
      view more services that can help.</a>
    </p>
    {{ postscript | safe }}
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <h2>Care advice</h2>
    {{ careAdvice | safe }}

    <div class="callout callout--info">
      <p>
        If you get worse or your condition changes, <a href="#">start again using your new symptoms.</a>
      </p>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: {{ lat }},
          lng: {{ long }}
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      marker = new google.maps.Marker({position: mapObj.getCenter(), map: mapObj});
    });
  </script>
{% endblock %}
