{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}
<div class="content-block measure">

  <h1>Your call was booked at {{ now }}</h1>

  <p>A nurse will call you on {{ tel }} within 15 minutes.</p>

  <p>
    <a href="#">Send a confirmation to my phone</a>
  </p>

  <div class="callout callout--info-alert">
    <p>If you don’t get a call within 15 minutes or your symptoms get worse call 999.</p>
  </div>

  <p class="form-hint">
    If you call 111 before speaking to the nurse, you’ll have to answer the
    questions again.
  </p>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
