{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">
  <a href="disposition-callback-first-001" class="button-back">Back</a>

  <h1>Book an urgent nurse call</h1>

  <p>
    We think you might need urgent medical help. A nurse will talk to you about
    what you should do next.
  </p>
  <p>
    You’ll get a call within 15 minutes.
  </p>
</div>

<div class="content-block">
  <p>
    <a href="/book-callback/?backUrl=%2Fforced-callback%2Fcall-booking-start&forwardUrl=%2Fforced-callback%2Fcall-booked" class="button">Book a call</a>
  </p>
</div>

{% endblock %}
