{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">
  <a href="disposition-callback-first-001" class="button-back">Back</a>

  <h1>A nurse needs to phone you</h1>

  <p>
    We think you might need urgent medical help. A nurse will phone you within
    30 minutes and tell you what to do next.
  </p>
  <p>
    If you need a translator you can ask for one when you start the call.
  </p>

  <form class="form">
    <div class="form-group">
      <label for="tel"><b>Enter a mobile, landline or textphone number</b></label>
      <input name="tel" id="tel" type="tel" value="" autocomplete="off">
    </div>

    <div class="form-group">
      <p>
        <a href="/book-callback/?backUrl=%2Fforced-callback%2Fcall-booking-start&forwardUrl=%2Fforced-callback%2Fcall-booked" class="button">Next</a>
      </p>
    </div>
  </form>
</div>

{% endblock %}
