{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}
<div class="measure">
  <h1 class="h2">Where do you need help?</h1>
</div>

<div class="location-controls">
  <p class="form-hint">
    Search for a place, drag the map, or use geolocation
  </p>
  <div class="form-group">
    <input type="text" id="searchTextField" placeholder="">
  </div>
  <div class="geolocation">
    <a href="#" id="geolocate">Use my current location</a>
    <span id="loader" class="load-container">
      <span class="loader"></span>
    </span>
  </div>
</div>

<div class="location">
  <div id="map"></div>
</div>

<div class="content-block shunt clearfix">
  <div class="form-group -controls">
    <a href="javascript: return false;" class="button">Next</a>
    <a href="javascript: return false;" class="button-back">Back</a>
  </div>
</div>

<style>
  #console {
    position: fixed;
    right: 12px;
    top: 12px;
    width: 200px;
    padding: 12px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.1;
    background-color: #fff587;
  }
</style>
<div id="console">
  lat: <span id="latitude"></span><br>
  lng: <span id="longitude"></span>
</div>

{% endblock %}

{% block body_after %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM&libraries=places"></script>
<script>
  var updateVals = function(pos) {
    $('#latitude').text(pos.lat);
    $('#longitude').text(pos.lng);
  }

  var doGeo = function() {
    $('#loader').css('visibility', 'visible');
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      updateVals(pos);
      // do stuff with the pos object
      var bounds = new google.maps.LatLngBounds();
      bounds.extend(pos);
      mapObj.setCenter(pos);
      mapObj.fitBounds(bounds);
      $('#loader').css('visibility', 'hidden');
      $('#searchTextField').val('');
    }, function() {
      // handle errors here
    });
  }

  $(function() {
    mapObj = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 54.49753506786252,
        lng: -2.2084219462310557
      },
      zoom: 5,
      maxZoom: 18,
      zoomControl: true,
      mapTypeControl: false,
      scaleControl: true,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false
    });

    google.maps.event.addListener(mapObj, 'center_changed', function() {
      // 0.1 seconds after the center of the map has changed,
      // set back the marker position.
      window.setTimeout(function() {
        var center = mapObj.getCenter();
        if (typeof marker === 'undefined') {
          marker = new google.maps.Marker({position: mapObj.getCenter(), map: mapObj});
        }
        marker.setPosition(center);
        updateVals(center);
      }, 100);
    });

    google.maps.event.addListener(mapObj, 'dragend', function() {
      // if you drag it, wipe anything in the places search
      $('#searchTextField').val('');
    });

    $('#geolocate').on('click', function(e) {
      e.preventDefault();
      doGeo();
    });

    var input = document.getElementById('searchTextField');
    var searchBox = new google.maps.places.SearchBox(input, {
      componentRestrictions: {'country': ['gb']}
    });

    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();
      if (places.length == 0) {
        return;
      }
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      mapObj.fitBounds(bounds);
    });
  });

</script>
{% endblock %}
