{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1 class="heading--large">Enter address</h1>

  <form method="post" class="content-block">
    <fieldset>
      <div class="form-group">
        <label for="address_1"><b>Address</b></label>
        <input type="text" id="address_1" name="address_1" autocomplete="off">
        <input type="text" id="address_2" name="address_2" autocomplete="off">
        <input type="text" id="address_3" name="address_3" autocomplete="off">
        <input type="text" id="address_4" name="address_4" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="postcode"><b>Postcode</b></label>
        <input type="text" id="postcode" name="postcode" class="-small" autocomplete="off">
      </div>
    </fieldset>
    <div class="form-group shunt-2">
      <button type="submit" class="button">Next</button>
    </div>
  </form>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <p><a href="#">Link to locate me page</a></p>
</div>

{% endblock %}
