{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}
<div class="content-block measure">
  <h1>Your name and number</h1>

  <form class="form" action="">
    <div class="form-group">
      <label for="tel">Tell us the phone number to call you on</label>
      <input name="tel" id="tel" type="text" value="">
    </div>
    <div class="form-group">
      <label for="name">Your name</label>
      <input name="name" id="name" type="text" value="">
    </div>

    <div class="form-group -controls">
      <a href="book-call-003" class="button">Next</a>
      <a href="book-call-001" class="button -back">Back</a>
    </div>
  </form>
</div>


{% endblock %}
