{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}
<div class="content-block measure">
  <h1>Are you calling on behalf of someone else?</h1>

  <form class="form" action="">

    <div class="form-group">
      <label for="yes" class="block-label">
        Yes
        <input type="radio" id="yes" name="representative" value="yes">
      </label>
    </div>

    <div class="form-group">
      <label for="no" class="block-label">
        No
        <input type="radio" id="no" name="representative" value="no">
      </label>
    </div>

    <div class="form-group -controls">
      <a href="book-call-004" class="button">Next</a>
      <a href="book-call-002" class="button -back">Back</a>
    </div>
  </form>
</div>


{% endblock %}
