{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}
<div class="content-block measure">
  <a href="options" class="button -back">Back</a>
  <h1>Book a call with a 111 nurse</h1>

  <p>So the nurse calling you can help quickly, we’ll need to know:</p>

  <ul>
    <li>your name and a number to call you on</li>
    <li>whether you're calling on behalf of someone else</li>
    <li>some personal details of the person needing help</li>
  </ul>

  <p>We’ll also need to confirm the location where help is needed.</p>

  <p>
    <a href="book-call-demographics" class="button">Start</a>
  </p>
</div>


{% endblock %}
