{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1 class="h2">Based on your answers you should call 999</h1>
  <div class="callout callout--info-alert">
    <p>
      You could be seriously ill with meningitis and need immediate help.
    </p>
  </div>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <h3>I don’t think I’m that ill</h3>
  <p><a href="options">What else can I do?</a></p>
</div>

{% endblock %}

{% block footer %}{% endblock %}
