{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="h2">We can’t rule out a serious condition</h1>
  <p>Because you answered “yes” to this question:</p>
  <div class="callout callout--bordered">
    <p>
      Have you got a sudden agonising headache like you've been hit on the head
      with something hard?
    </p>
  </div>
  <p>
    We can’t rule out bleeding on the brain, which would need urgent medical help.
  </p>
  <p>
    <a href="javascript: return false;">Change my answer to this question</a>
  </p>

  <div class="callout callout--attention shunt-2">
    <h2>Book a call with a nurse</h2>
    <p>
      You’ll get a call within 30 minutes. The nurse will find the right service
      for you. This will be quicker than going to A&amp;E.
    </p>
    <p>
      <a class="button" href="javascript: return false;">Book a call</a>
    </p>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
