{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="content-block measure">
  <a href="disposition-callback-first-001" class="button -back">Back</a>

  <h1 class="h2">You need to let us call you</h1>
  <h1 class="h2">Book a call with a 111 nurse</h1>

  <p>
    You’ll get a call within 30 minutes. The nurse will have your answers and
    will send an ambulance if you need one.
  </p>
  <p>
    Anything else?
  </p>
</div>

<div class="content-block">
  <p>
    <a href="/999-disposition/book-call-demographics" class="button">Book a call</a>
  </p>
</div>

{% endblock %}
