{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1 class="h2">You need an ambulance</h1>
  <div class="callout callout--info-alert">
    <p>
      Because your answers suggest you’re not able to move, you should call 999
    </p>
  </div>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <p>I don’t think I’m that ill - <a href="options">what else can I do?</a></p>
  <p>I’m able to get transport - <a href="#">where should I go?</a></p>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
