{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1 class="h2">Based on your answers you should call 999</h1>
  <div class="callout callout--info-alert">
    <p>
      We can’t rule out bleeding on the brain, which would need urgent medical help.
    </p>
  </div>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <p>I don’t think I’m that ill - <a href="options?from=disposition">what else can I do?</a></p>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
