{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1>What else can I do?</h1>

  <div class="shunt-2">
  <p>You’re being asked to call 999 because you answered “yes” to this question:</p>
  <div class="callout callout--muted">
  <p>
    Do you have a new rash or marks under your skin that don't go away when
    you press a glass on it?
  </p>
  </div>
  <p>
    <a href="#">Go back to this question</a>
  </p>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <h2>Speak to a 111 nurse</h2>
  <p>A 111 nurse can call you to check your symptoms again. BECAUSE YOU’RE WORRIED</p>
  <p>The nurse will:</p>
  <ul>
    <li>have all your answers</li>
    <li>tell you what to do next</li>
  </ul>
  <p>
    <a href="book-call" class="button -secondary">Book a call</a>
  </p>
  <details class="shunt-2">
    <summary>Should I go to A&amp;E?</summary>
    <p>
      The 111 nurse will find the right service for you. They can make an
      appointment if necessary, which could save time waiting in A&amp;E.
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <div class="callout callout--alert">
    <p>If you’re not doing any of this you shoudl call 999 idiot</p>
  </div>
</div>


{% endblock %}

{% block footer %}{% endblock %}
