{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="content-block measure">
  <h2>1. Change your answers</h2>
  <p>You’re being asked to call 999 because you answered “yes” to this question:</p>
  <div class="callout callout--bordered">
    <p>
      Do you have a new rash or marks under your skin that don't go away when
      you press a glass on it?
    </p>
  </div>
  <p>
    <a href="#">Go back to this question</a>
  </p>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <h2>2. Speak to a 111 nurse</h2>
  <p>
    If you aren't sure 999 is right for you, a nurse from 111 can call to check
    your answers.
  </p>
  <p>The nurse will:</p>
  <ul>
    <li>call you within 30 minutes</li>
    <li>have all your answers</li>
    <li>tell you what to do next</li>
  </ul>
  <p>
    <a href="book-call" class="button -secondary">Book a call</a>
  </p>
  <details class="shunt-2">
    <summary>Should I go to A&amp;E?</summary>
    <p>
      The 111 nurse will find the right service for you. They can make an
      appointment if necessary, which could save time waiting in A&amp;E.
    </p>
  </details>
</div>

<div class="content-block measure">
  <div class="callout callout--alert">
    <p>If you don't get a call in 30 minutes or your symptoms get worse call 999.</p>
  </div>
</div>


{% endblock %}

{% block footer %}{% endblock %}
