{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="content-block measure">

  <a href="disposition-transport" class="button -back">Back</a>

  <h1>What else can I do?</h1>

  <p>You can:</p>
  <ul>
    <li>
      <a href="#change">Change your answers</a>
    </li>
    <li>
      <a href="#callback">Book a call with a nurse</a>
    </li>
    <li>
      <a href="#ownsteam">Make your own way to hospital</a>
    </li>
  </ul>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <h2 id="change">Change your answers</h2>
  <p>You’re being asked to call 999 because you answered “yes” to this question:</p>
  <div class="callout callout--bordered">
    <p>
      Is your ankle or foot a different shape than normal?
    </p>
  </div>
  <p>This means we can’t rule out a break, fracture, dislocation or severe sprain.</p>
  <p>
    <a href="javascript:return false;">Go back to this question</a>
  </p>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <h2 id="callback">Book a call with a nurse</h2>
  <p>
    You’ll get a call within 30 minutes. The nurse will find the right service
    for you, which could save time waiting in A&amp;E.
  </p>
  <p>
    <a href="book-call-001">Book a call</a>
  </p>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <h2 id="ownsteam">Make your own way to hospital</h2><!-- use hospital because: it's in pathways, and it's colloquial for secondary care, ie "not GP" -->
  <p>
    If you are able to get to hospital yourself, or if someone can help you get there.
  </p>
  <p>
    <a href="#">Find out where to go</a>
  </p>
</div>

{% endblock %}

{% block footer %}{% endblock %}
