{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="">

  <div class="content-block" style="border: 2px solid #ccc; padding:0 32px;">
    <h1>You should get help asap</h1>
  </div>

  <div class="content-block" style="border: 2px solid #ccc; padding:0 32px;">
    <p>
      Your answers suggest that you might need an ambulance because you answered
      ‘yes’ to ‘do you need an ambulance?’
    </p>
    <p>
      <a href="#">Let me review my answers</a>
    </p>
  </div>

  <div class="content-block" style="border: 2px solid #ccc; padding:0 32px;">
    <h2>We recommend you call 999 now</h2>
  </div>

  <div class="content-block" style="border: 2px solid #ccc; padding:0 32px;">
    <h3>If you won’t call 999</h3>
    <p>
      Please let a clinician <a href="#">call you</a> to talk through your
      symptoms. You’ll be called back within 30 minutes.
    </p>
    <p>
      <a href="#" class="button -secondary">Book a call</a>
    </p>
  </div>
</div>

{% endblock %}

{% block footer %}{% endblock %}
