{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<link href="/stylesheets/nhsuk.css" rel="stylesheet" />

<div id="wrapper">
    <section>
        <div class="local-header">
            <h1 class="local-header__title">111 online in your area</h1>
            <div class="local-header__intro">
                <p>We have a free app that you can use to help you get the best advice.</p>
            </div>
        </div>
    </section>

    <ul class="link-list">
        <li class="link-list__item">
            You can download an <a href="https://itunes.apple.com/gb/app/nhs-111/id1196229018?mt=8">Apple app</a> or an <a href="https://play.google.com/store/apps/details?id=com.babylon.nhs&hl=en_GB">Android app</a> for your phone or tablet.
            <br/>
            <a href="https://itunes.apple.com/gb/app/nhs-111/id1196229018?mt=8">
                <img src="/images/111appleapp.jpg" width="319px" height="335px" alt="" />
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.babylon.nhs&hl=en_GB">
                <img src="/images/111androidapp.jpg" width="322px" height="335px" alt="" />
            </a>
        </li>
    </ul>

    <section class="callout callout--info">
        <p>
            If you don't want to use an app, call 111 for help and advice.
        </p>
        <p>
            If you're looking for local NHS services, opening times, or general health information, use <a href="#">NHS Choices</a>.
        </p>
    </section>

</div>

{% endblock %}

{% block footer %}{% endblock %}
