{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">
  
  <div class="content-block">

    <h1>How 111 online works</h1> <!-- Getting help near you -->
    <ol class="list--numbered">
        <li>answer questions about your symptoms - some are to rule out more serious conditions </li>
        <li>get advice on what NHS service you might need and how urgently</li>
    </ol>

    <div class="callout callout--info">
        <p>Call 111 if you're asking about someone under 5</p>
    </div>

    <div class=""><p>The service is not a replacement for seeing a health professional. It doesn’t diagnose conditions.</p></div>

    <a href="http://nhs111-web-beta-research-2.azurewebsites.net/" class="button">Start</a>

        <p>If you’re looking for NHS opening times or contact information, use <a href="https://beta.nhs.uk/">NHS Choices.</a></p>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
