{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">
  
  <div class="content-block">

    <h1>How 111 online works</h1> <!-- Getting help near you -->
    <p>This service is for people aged 5 and over.</p>
    <p>You can:</p>
    <ul>
        <li>answer questions about your symptoms - some are to rule out more serious conditions </li>
        <li>get advice on what NHS service you might need and how urgently</li>
    </ul>
<!-- <p>111 online is for people aged 5 and over.</p> -->
    <!-- <div class="callout callout--info"><p>111 online is for people aged 5 and over.</p></div> -->
<!--     <p>Use this service  when:</p>
    <ul>
        <li>you’re not sure what to do about your symptoms</li>
        <li>you need medical help, but not an ambulance</li>
    </ul> -->   
    <div class="callout callout--attention"><p>The service is not a replacement for seeing a health professional. It doesn’t diagnose conditions.</p></div>

    <a href="#" class="button">Start</a>

        <p>If you’re looking for NHS opening times or contact information, use <a href="https://beta.nhs.uk/">NHS Choices.</a></p>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
