{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div id="wrapper">
    <h1>How does <span aria-label="1 1 1">111</span> work online?</h1>
    <p>Tell us the symptom you're concerned about and:</p>
    <ol class="list--numbered">
        <li>
            answer a number of questions
        </li>
        <li>
            get advice on who you need to see, and how urgently
        </li>
        <li>
            find the right local NHS service for your needs
        </li>
    </ol>
    <p>The service doesn't diagnose specific conditions.</p>
    <div class="callout callout--attention">
        <p>
            This online service is for people aged 5 and over. It's not a substitute for a medical consultation. See <a href="#">terms and conditions</a>.
        </p>
    </div>
    <p>If you're looking for NHS opening times or contact information, use <a href="#">NHS Choices</a>.</p>
    <button type="submit" class="button--next go">Start</button>

</div>

{% endblock %}

{% block footer %}{% endblock %}
