{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<form class="content-block measure form" method="post">
  <h1>Who needs help?</h1>

  <div class="callout callout--warning">
    <p>
      If you’re doing this on behalf of someone else, enter their details here.
    </p>
  </div>

  <div class="form-group" id="name-group">
    <label for="name"><b>Full name</b></label>
    <input name="name" id="name" type="text" value="{{ session.callBooking.name }}" autocomplete="off">
  </div>

  <!--
  <fieldset>
    <legend><b>Name</b> (optional)</legend>
    <div class="form-group">
      <div>
        <label for="first-name">First name</label>
        <input type="text" id="first-name" name="first-name" value="{{ session.callBooking.name.first_name }}" autocomplete="off">
      </div>
      <div>
        <label for="second-name">Second name</label>
        <input type="text" id="second-name" name="second-name" value="{{ session.callBooking.name.second_name }}" autocomplete="off">
      </div>
    </div>
  </fieldset>
  -->

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <fieldset id="dob-group">
    <legend><b>Date of birth</b></legend>
    <div class="form-group -date">
      <div>
        <label for="dob-day">Day</label>
        <input type="number" id="dob-day" name="dob-day" value="{{ session.callBooking.dob.day }}" class="day" maxlength="2" autocomplete="off">
      </div>
      <div>
        <label for="dob-month">Month</label>
        <input type="number" id="dob-month" name="dob-month" value="{{ session.callBooking.dob.month }}" class="month" maxlength="2" autocomplete="off">
      </div>
      <div>
        <label for="dob-year">Year</label>
        <input type="number" id="dob-year" name="dob-year" value="{{ session.callBooking.dob.year }}" class="year" maxlength="4" autocomplete="off">
      </div>
    </div>
  </fieldset>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="form-group" id="postcode-group">
    <label for="postcode"><b>Home postcode</b></label>
    <input type="text" id="postcode" name="postcode" class="postcode" value="{{ session.callBooking.postcode }}" autocomplete="off">
  </div>

  <!--
  <fieldset>
    <legend><b>Home address</b> (optional)</legend>
    <div class="form-group">
      <div>
        <label for="address-1">Building and street</label>
        <input type="text" id="address-1" name="address-1" value="{{ session.callBooking.address.address_1 }}" autocomplete="off">
        <input type="text" id="address-2" name="address-2" value="{{ session.callBooking.address.address_2 }}" autocomplete="off">
      </div>
      <div>
        <label for="town-city">Town or city</label>
        <input type="text" id="town-city" name="town-city" value="{{ session.callBooking.address.city }}" autocomplete="off">
      </div>
      <div>
        <label for="town-county">County</label>
        <input type="text" id="town-county" name="town-county" value="{{ session.callBooking.address.county }}" autocomplete="off">
      </div>
      <div>
        <label for="postcode">Postcode</label>
        <input type="text" id="postcode" name="postcode" class="postcode" value="{{ session.callBooking.address.postcode }}" autocomplete="off">
      </div>
    </div>
  </fieldset>
  -->

  <details class="shunt-2">
    <summary>Why are we asking for this information?</summary>
    <div class="callout callout--info shunt">
      <p>
        If you tell us this information the nurse can see your medical records
        if they need to.
      </p>
    </div>
  </details>

  <div class="form-group -controls">
    <button type="submit" class="button">Next</button>
    <a href="./book-call-number" class="button-back">Back</a>
  </div>
</form>


{% endblock %}
