{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block measure">
  {% if error %}
    <div class="error-summary">
      <div>
        <h2 class="error-heading">There’s a problem</h2>
        <p>
          <a href="#address_0">Enter a full address.</a>
        </p>
      </div>
    </div>
  {% endif %}

  <form method="post" class="shunt">
    <h1>
      <label for="address_1">
        Address
      </label>
    </h1>
    <fieldset>
      <div class="form-group {% if error %}-errors{% endif %}">
        <input type="text" id="address_0" name="address_0" autocomplete="off" value="">
        <input type="text" id="address_1" name="address_1" autocomplete="off" value="">
        <input type="text" id="address_2" name="address_2" autocomplete="off" value="">
        <input type="text" id="address_3" name="address_3" autocomplete="off" value="">
        <input type="text" id="address_4" name="address_4" autocomplete="off" value="">
      </div>
      <div class="form-group {% if error %}-errors{% endif %}">
        <label for="postcode">
          Postcode
        </label>
        <input type="text" id="postcode" name="postcode" class="-small" autocomplete="off" value="{{ session.addressPostcode }}">
      </div>
    </fieldset>
    <div class="form-group shunt-2">
      <button type="submit" class="button">Next</button>
    </div>
  </form>
</div>

{% endblock %}
