{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<form class="content-block measure form" method="post">
  <a href="#" class="button-back">Back</a>

  {% if session.callBooking.who === 'me' %}
    <h1>What is your name?</h1>
  {% else %}
    <h1>What is their name?</h1>
  {% endif %}

  <div class="form-group shunt" id="name-group">
    <label for="firstname"><b>First name</b></label>
    <input name="firstname" id="firstname" type="text" value="" autocomplete="off">
  </div>

  <div class="form-group" id="name-group">
    <label for="secondname"><b>Second name</b></label>
    <input name="secondname" id="secondname" type="text" value="" autocomplete="off">
  </div>

  <div class="form-group -controls">
    <button type="submit" class="button">Next</button>
  </div>
</form>


{% endblock %}
