.nav-a-z {
  a {
    display: inline-block;
    min-width: 1em;
    padding: $baseline-grid-unit/2 $baseline-grid-unit*2;
    margin-bottom: $baseline-grid-unit;
    text-decoration: none;
    text-align: center;
    border: 1px solid $grey-4;
  }
  a:hover,
  .selected {
    color: $white;
    background-color: $nhs-blue;
    border-color: $nhs-blue;
  }
}
