{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block">

  <div class="callout callout--attention measure">
    <h1 class="nhsuk-heading-l">
      Book a non-urgent GP appointment
    </h1>
  </div>

  {% include 'pathways-r19/_components/its-unlikely.html' %}

  <div class="callout callout--warning measure">
    <h2 class="nhsuk-heading-xs">
      Coronavirus (COVID-19) advice
    </h2>
    <p>
      Phone if you want to make a GP appointment. Do not just go there.
    </p>
  </div>

  <div class="callout callout--warning measure">
    <p>
      It’s possible you have COVID-19 but you also need help for your other symptoms.
    </p>
    <p>
      You <b>must</b> tell whoever you speak to that you might have coronavirus
      and follow their instructions.
    </p>
    <p>
      This might mean getting tested first, or being seen in a different way than
      usual.
    </p>
  </div>

  <ul>
    <li>
      <a href="scenario-2b">I’m away from home</a>
    </li>
    <li>
      <a href="scenario-2a">I don’t have a GP</a>
    </li>
  </ul>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <h2 class="nhsuk-heading-s">
      Book a call with a pharmacist today instead
    </h2>
    <p>
      Pharmacists are trained to deal with common health problems.
    </p>
    <p>
      <a href="#">I’ll book a call instead</a>
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  <div class="measure">
    {% set acuity = "low" %}
    {% include 'service-display/_components/worsening-symptoms.html' %}
  </div>

</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
