<div class="callout callout--info shunt-2">
  <p>On <a href="javascript: return false;">NHS.UK</a> you can get:</p>
  <ul>
    <li>information about <a href="javascript: return false;">a particular medicine</a></li>
    <li>advice on where to get an emergency <a href="javascript: return false;">prescription</a></li>
    <li>information on a <a href="javascript: return false;">condition</a></li>
    <li><a href="javascript: return false;">opening times</a> for a particular place</li>
  </ul>
</div>
