{% macro categories(usetitle='true') %}
  <div class="nav-a-z shunt-3">
    {% if usetitle == 'true' %}<h2 class="heading-large">Browse topics</h2>{% endif %}
    <a href="browse--parts-of-the-body">Parts of the body</a>
    <a href="browse--accidental-overdose-or-swallowed-an-object">Accidental overdose, or swallowed an object</a>
    <a href="browse--blood-and-bleeding">Blood and bleeding</a>
    <a href="browse--burns-and-scalds">Burns (including sunburn) and scalds</a>
    <a href="browse--coughs-colds-and-breathing-problems">Coughs, colds and breathing problems</a>
    <a href="browse--diarrhoea-sickness-or-vomiting">Diarrhoea, sickness or vomiting</a>
    <a href="browse--dizziness-falls-and-faints">Dizziness, falls and faints</a>
    <a href="browse--harmful-drinking">Harmful drinking</a>
    <a href="browse--hiccups-pins-and-needles">Hiccups, pins and needles</a>
    <a href="browse--high-temperature-and-heatstroke">High temperature and heatstroke</a>
    <a href="browse--mental-health-or-sleep-problems">Mental health or sleep problems</a>
    <a href="browse--periods">Periods</a>
    <a href="browse--pregnancy-and-breastfeeding">Pregnancy and breastfeeding</a>
    <a href="browse--problems-with-medical-devices">Problems with medical devices</a>
    <a href="browse--problems-with-weeing-or-pooing">Problems with weeing or pooing</a>
    <a href="browse--sexual-health">Sexual health</a>
    <a href="browse--skin-problems">Skin problems</a>
    <a href="browse--stroke-palpitations-and-shaking">Stroke, palpitations and shaking</a>
    <a href="browse--wound-problems">Wound problems</a>
  </div>
{% endmacro %}
