{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}
{% include 'finding-pathways/_partial-category-back-link.html' %}

<div class="content-block measure">
  <h1 class="h2">Blood and bleeding</h1>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Diabetic blood sugar problems
    </span>
    <span class="topic-description">
      Diabetic blood sugar levels are too high or too low. A sudden problem with blood sugar levels.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Coughing up blood
    </span>
    <span class="topic-description">
      Coughing up blood in sick (vomit), phlegm or mucus.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Nosebleed
    </span>
    <span class="topic-description">
      A bleeding nose.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Nosebleed after an injury
    </span>
    <span class="topic-description">
      A bleeding nose following an injury.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Bleeding from the bottom
    </span>
    <span class="topic-description">
      Spots of blood on the toilet paper. Streaks of blood in poo. Red or black coloured poo.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Bleeding from the vagina
    </span>
    <span class="topic-description">
      Heavy periods, bleeding after sex or unexpected bleeding. Bleeding or spotting when pregnant.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Late or missed period
    </span>
    <span class="topic-description">
      Late or missed periods. No periods. Periods haven't started. Periods have stopped.
    </span>
  </a>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

</div>

{% import 'finding-pathways/_partial-category-nav.html' as navs %}
{{ navs.categories(usetitle='true') }}

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="#">rule out serious conditions.</a></p>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
  {% include 'finding-pathways/_partial-selected-category-script.html' %}
{% endblock %}
