{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}
{% include 'finding-pathways/_partial-category-back-link.html' %}

<div class="content-block measure">
  <h1 class="h2">Skin problems</h1>

  <a href="/weird-questions?pw=PW1575" class="topic">
    <span class="topic-title">
      Bites or stings
    </span>
    <span class="topic-description">
      Any bite or sting from animals, humans, insects, reptiles or water creatures. Bitten by a pet or wild animal.
    </span>
  </a>

  <a href="/weird-questions?pw=PW1625" class="topic">
    <span class="topic-title">
      Blisters
    </span>
    <span class="topic-description">
      Blisters from something rubbing against the skin, such as new shoes.
    </span>
  </a>

  <a href="/weird-questions?pw=PW1301" class="topic">
    <span class="topic-title">
      Glue on the skin
    </span>
    <span class="topic-description">
      Something is glued to the skin, or the skin has been glued together.
    </span>
  </a>

  <a href="/weird-questions?pw=PW1771" class="topic">
    <span class="topic-title">
      Rashes, itchy skin, spots or blisters
    </span>
    <span class="topic-description">
      Skin problems (including moles). Eczema or ringworm. Scabies, lice or athlete's foot. Chickenpox or shingles. Lumps, bruises or yellow skin. Problems with birthmarks and tattoos.
    </span>
  </a>

  <a href="/weird-questions?pw=PW1590" class="topic">
    <span class="topic-title">
      Cuts, scratches or grazes
    </span>
    <span class="topic-description">
      A small cut, scratch or graze that might have gravel, dirt or grit inside.
    </span>
  </a>
</div>

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="/weird-questions?pw=1346">rule out serious conditions.</a>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
  {% include 'finding-pathways/_partial-selected-category-script.html' %}
{% endblock %}
