{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}
{% include 'finding-pathways/_partial-category-back-link.html' %}

<div class="content-block measure">
  <h1 class="h2">Dizziness, falls and faints</h1>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Dizziness
    </span>
    <span class="topic-description">
      Feeling dizzy, off balance, lightheaded or as if the room is spinning (vertigo).
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Falling, fainting or passing out
    </span>
    <span class="topic-description">
      A fall, faint, blackout or loss of consciousness, with no injury.
    </span>
  </a>
</div>

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="/weird-questions?pw=1346">rule out serious conditions.</a>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
  {% include 'finding-pathways/_partial-selected-category-script.html' %}
{% endblock %}
