{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}
{% include 'finding-pathways/_partial-category-back-link.html' %}

<div class="content-block measure">
  <h1 class="h2">Problems with weeing or pooing</h1>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Bleeding from the bottom
    </span>
    <span class="topic-description">
      Spots of blood on the toilet paper. Streaks of blood in poo. Red or black coloured poo.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Blood in wee (urine)
    </span>
    <span class="topic-description">
      Bloody, red or pink wee (urine)
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Constipation
    </span>
    <span class="topic-description">
      Can't poo or finding it hard to poo, with or without tummy pain.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Difficulty weeing
    </span>
    <span class="topic-description">
      Problems with weeing (passing urine), such as only being able to wee very small amounts, or can't wee at all.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Problems with weeing (passing urine)
    </span>
    <span class="topic-description">
      Pain, stinging or burning while weeing (passing urine). Weeing too often or smelly wee.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Catheter problems
    </span>
    <span class="topic-description">
      A problem with a blocked or leaking catheter. Pain from a catheter. Trouble removing or inserting a catheter.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Loss of bowel control
    </span>
    <span class="topic-description">
      An urge to poo that can't be controlled. Soiling or staining underwear. May also include constipation or diarrhoea, bloating or wind.
    </span>
  </a>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

</div>

{% import 'finding-pathways/_partial-category-nav.html' as navs %}
{{ navs.categories(usetitle='true') }}

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="#">rule out serious conditions.</a></p>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
  {% include 'finding-pathways/_partial-selected-category-script.html' %}
{% endblock %}
