{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}
{% include 'finding-pathways/_partial-category-back-link.html' %}

<div class="content-block measure">
  <h1 class="h2">Pregnancy and breastfeeding</h1>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Breastfeeding problems
    </span>
    <span class="topic-description">
      Problems getting the baby to attach to the breast. Cracked or sore nipples, or a painful breast that is making breastfeeding difficult.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Can't feel baby move as much
    </span>
    <span class="topic-description">
      Worries that the baby isn't moving as much as usual. Baby's movements are slower or have stopped.
    </span>
  </a>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

</div>

{% import 'finding-pathways/_partial-category-nav.html' as navs %}
{{ navs.categories(usetitle='true') }}

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="#">rule out serious conditions.</a></p>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
  {% include 'finding-pathways/_partial-selected-category-script.html' %}
{% endblock %}
