{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}

<div class="measure">
  <h1 class="heading-xxlarge">Browse topics</h1>
</div>

<div class="nav-a-z">
  <a href="browse--parts-of-the-body">Parts of the body</a>
  <a href="browse--blood-and-bleeding">Blood and bleeding</a>
  <a href="browse--burns-and-scalds">Burns (including sunburn) and scalds</a>
  <a href="browse--coughs-colds-and-breathing-problems" class="selected">Coughs, colds and breathing problems</a>
  <a href="browse--diahrroea-sickness-and-vomiting">Diahrroea, sickness and vomiting</a>
  <a href="browse--dizzinges-falls-and-faints">Dizziness, falls and faints</a>
  <a href="browse--high-temperature-and-heatstroke">High temperature and heatstroke</a>
  <a href="browse--periods">Periods</a>
  <a href="browse--pregnancy-and-breastfeeding">Pregnancy and breastfeeding</a>
  <a href="browse--problems-with-medical-devices">Problems with medical devices</a>
  <a href="browse--problems-with-weeing-or-pooing">Problems with weeing or pooing</a>
  <a href="browse--sexual-health">Sexual health</a>
  <a href="browse--strange-body-sensations">Strange body sensations</a>
  <a href="browse--wound-problems">Wound problems</a>
</div>

<div class="content-block measure shunt-3">

  <h2>Coughs, colds and breathing problems</h2>

  <a href="#" class="topic">
    <span class="topic-title">
      Blocked or stuffy nose
    </span>
    <span class="topic-description">
      A congested or blocked nose. Sinus problems.
    </span>
  </a>

  <a href="#" class="topic">
    <span class="topic-title">
      Chest pain or breathing problems
    </span>
    <span class="topic-description">
      Any chest or upper back pain. Chest pain with or without arm, shoulder, neck or jaw pain. Tightness in the chest. Wheezing, panting or feeling out of breath. Difficult or noisy breathing.
    </span>
  </a>

  <a href="#" class="topic">
    <span class="topic-title">
      Cold or flu
    </span>
    <span class="topic-description">
      A blocked or runny nose, sneezing, aching muscles, headaches, pain in the face and coughing.
    </span>
  </a>

  <a href="#" class="topic">
    <span class="topic-title">
      Cough
    </span>
    <span class="topic-description">
      Hacking, tickly or dry cough, without other cold symptoms. Coughing up phlegm or mucus.
    </span>
  </a>
  
  <a href="#" class="topic">
    <span class="topic-title">
      Sinusitis
    </span>
    <span class="topic-description">
      A problem with the sinuses. Face pain around the cheeks, eyes or forehead. A runny nose and a high temperature.
    </span>
  </a>

</div>

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="#">rule out serious conditions.</a></p>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
<script>
  $(function() {
    $('.collapse-content').hide();
    var $collapseControl = $('.collapse-title');
    $collapseControl
      .attr('tabindex', '0')
      .keyup(function(e) {
        if (e.keyCode === 13) {
          $(this).click();
        }
      })
      .on('click', function(e) {
        var $this = $(this);
        if ($this.hasClass('open')) {
          $this
            .removeClass('open')
            .next()
            //.slideUp(); // do this with css ffs
            .css('display', 'none');
        } else {
          $this
            .addClass('open')
            .next()
            //.slideDown(); // do this with css ffs
            .css('display', 'block');
        }
      });
  });
</script>
{% endblock %}
