{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}
{% include 'finding-pathways/_partial-category-back-link.html' %}

<div class="content-block measure">
  <h1 class="h2">Burns (including sunburn) and scalds</h1>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Burns from heat
    </span>
    <span class="topic-description">
      A scald from hot liquid or a burn from touching something hot, such as an iron or a flame.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Chemical burns
    </span>
    <span class="topic-description">
      Burns caused by chemicals.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Sunburn
    </span>
    <span class="topic-description">
      Burns caused by the sun or a tanning sunbed or lamp. Red, warm, sore, tender, or peeling skin.
    </span>
  </a>
</div>

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="/weird-questions?pw=1346">rule out serious conditions.</a>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
  {% include 'finding-pathways/_partial-selected-category-script.html' %}
{% endblock %}
