{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}

<div class="content-block measure">
  <h1 class="h2">Strange body sensations</h1>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Hiccups
    </span>
    <span class="topic-description">
      Hiccups, with possible fever. Hiccups won't stop.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Numbness or unusual sensation
    </span>
    <span class="topic-description">
      Strange feelings in the skin anywhere on the body. Numbness, burning, tingling or pins and needles.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Palpitations
    </span>
    <span class="topic-description">
      Feeling the heart is beating too fast or too slow. Pounding or irregular heartbeat. Racing heart, fluttering in the chest, skipped beats.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Stroke
    </span>
    <span class="topic-description">
      Concerns about a stroke, TIA or mini stroke.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Trembling or shaking
    </span>
    <span class="topic-description">
      Shaking or trembling (tremor).
    </span>
  </a>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

</div>

{% include 'finding-pathways/_partial-category-nav.html' %}

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="#">rule out serious conditions.</a></p>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
  {% include 'finding-pathways/_partial-selected-category-script.html' %}
{% endblock %}
