{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}
{% include 'finding-pathways/_partial-category-back-link.html' %}

<div class="content-block measure">
  <h1 class="h2">Mental health or sleep problems</h1>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Behaving strangely
    </span>
    <span class="topic-description">
      Any odd behaviour. Seeing or hearing things that aren't there. Can't stay awake. New changes or an existing condition getting worse.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Mental health
    </span>
    <span class="topic-description">
      Low mood, feeling depressed or stressed. Panic attacks or anxiety. Trouble sleeping. Seeing or hearing things that aren't there. Drink and drug problems.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Self-harm
    </span>
    <span class="topic-description">
      Self-harm (eg cutting, burning, substance abuse, anorexia or bulimia) as a way of dealing with difficult feelings. Swallowing, breathing in or injecting something poisionous on purpose.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Sleep problems
    </span>
    <span class="topic-description">
      Problems sleeping, getting to sleep or staying asleep. Tiredness. Insomnia.
    </span>
  </a>

  <a href="/weird-questions" class="topic">
    <span class="topic-title">
      Tiredness
    </span>
    <span class="topic-description">
      Feeling tired or exhausted (fatigue) most of the time, or tiring easily.
    </span>
  </a>
</div>

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="/weird-questions?pw=1346">rule out serious conditions.</a>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
  {% include 'finding-pathways/_partial-selected-category-script.html' %}
{% endblock %}
