{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}
{% include 'finding-pathways/_partial-category-back-link.html' %}

<div class="content-block measure">
  <h1 class="h2">Sexual health</h1>

  <a href="/weird-questions?pw=PW1684" class="topic">
    <span class="topic-title">
      Sexual or period problems
    </span>
    <span class="topic-description">
      Physical or emotional problems with sexual health or sexuality. Worries about sexually transmitted infections (STIs), HIV/AIDs. Premenstrual symptoms (PMT/PMS). Menopause.
    </span>
  </a>

  <a href="/weird-questions?pw=PW1685" class="topic">
    <span class="topic-title">
      Male sexual problems
    </span>
    <span class="topic-description">
      A physical or emotional problem with sexual health or activity. Worries about sexually transmitted infections (STIs), HIV/AIDS.
    </span>
  </a>
</div>

<div class="content-block measure">
  <details>
    <summary>I can’t find the right topic</summary>
    {% include 'finding-pathways/_partial-full-list-link.html' %}

    {% include 'finding-pathways/_partial-nhsuk-advice.html' %}

    <p>
      If you don’t know what to look for you can <a href="/weird-questions?pw=1346">rule out serious conditions.</a>
    </p>
  </details>
</div>

<div class="content-seperator content-seperator--equalvertspacing--large"></div>

<div class="content-block measure">
  <details>
    <summary>Help us improve</summary>
  </details>
</div>

{% endblock %}

{% block body_after %}
  {% include 'finding-pathways/_partial-selected-category-script.html' %}
{% endblock %}
