{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">What happens next</h1>
  <p>
    PHE will contact you in [HOW LONG]
  </p>
  <p>
    They will decide if you need to have a test, or will tell you what to do next.
  </p>
  <p>
    This might mean staying away from other people and not going to work or
    school for 14 days.
  </p>
  <p>
    You can read:
  </p>
  <ul>
    <li>
      details about <a href="javascript: return false;">what happens during the test</a>
    </li>
    <li>
      about how to <a href="javascript: return false;">self isolate to keep yourself and others safe</a>
    </li>
  </ul>

</div>

{% endblock %}

{% set suppress_feedback = true %}
