{% set use_question_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-l">
    How would you describe your symptoms?
  </h1>

  <div class="callout callout--info">
    <p>
      Coronavirus symptoms are similar to flu. They can be mild or severe and
      affect people differently. Most people get mild symptoms.
    </p>
  </div>

  <form action="" method="post" class="form">

    <div class="form-group">
      <fieldset>
        <label class="block-label">
          <input id="" name="answer" value="1" type="radio" class="selection-button-radio">
          <span>
            Mild - I feel well enough to do most of my normal activities
          </span>
        </label>
        <label class="block-label">
          <input id="" name="answer" value="0" type="radio" class="selection-button-radio">
          <span>
            Severe - I can’t do normal things like watch TV or get dressed
          </span>
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <p><button type="submit" class="button">Next</button></p>
    </div>

  </form>

</div>

{% endblock %}

{% set suppress_feedback = true %}
{% block custom_feedback %}
  {% set feedback_title = 'Help us improve this question' %}
  {% include 'coronavirus/_components/feedback.html' %}
{% endblock %}
