
.disposition-set {
  counter-reset: set;
}

.disposition-unit {
  position: relative;
  margin: $baseline-grid-unit*4 0;
  padding-top: $baseline-grid-unit*4;
  border-top: 2px solid $grey-4;
  @include media(mid) {
    margin: $baseline-grid-unit*8 0;
    padding-left: $baseline-grid-unit*14;
    padding-top: 0;
    border-top: 0;
  }

  &:first-child {
    padding-top: 0;
    border-top: 0;
  }

  &:before {
    counter-increment: set;
    @include media(mid) {
      content: counter(set);
      position: absolute;
      z-index: 2;
      top: $baseline-grid-unit;
      left: 0;
      width: $baseline-grid-unit*8;
      height: $baseline-grid-unit*8;
      border-radius: 100%;
      background-color: $grey-4;
      text-align: center;
    }
  }

  &:after {
    @include media(mid) {
      content: '';
      position: absolute;
      top: $baseline-grid-unit;
      left: ($baseline-grid-unit*4)-1;
      z-index: 1;
      border-left: solid 3px $grey-4;
      height: calc(100% - 12px);
    }
  }

  .collapse-title :first-child {
    margin-top: 0;
  }
}
