<div id="microsurvey" class="micro-survey">

  <div class="survey-banner">
    <div>
      Help us improve. <a href="javascript: return false;">Will you use the recommended service?</a>
    </div>
  </div>

  <!--
  <form id="microsurvey-form" method="post" class="form">

    <div class="microsurvey-unit">
      <div class="content nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-1">
        <div class="form-group">
          <fieldset class="inline-radios">
            <legend class="nhsuk-heading-s">
              Will you use the recommended service?
            </legend>
            <label class="block-label">
              <input id="yes" name="will-use-service" value="yes" type="radio" class="selection-button-radio">
              <span>
                Yes
              </span>
            </label>
            <label class="block-label">
              <input id="no" name="will-use-service" value="no" type="radio" class="selection-button-radio">
              <span>
                No
              </span>
            </label>
          </fieldset>
        </div>
        <div class="form-group">
          <p><button type="submit" class="button">Next</button></p>
        </div>
      </div>
    </div>
    <div class="survey-banner">
      <div>
        You can help improve the whole 111 online service by <a href="#">taking
        our full survey (opens in a new tab or window).</a>
      </div>
    </div>

    <div class="microsurvey-unit">
      <div class="content nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-1">
        <legend class="nhsuk-heading-s">
          Why won’t you use the recommended service?
        </legend>
        <div class="form-group">
          <fieldset>
            <label class="block-label">
              <input name="reason" value="" type="checkbox" class="selection-button-checkbox">
              <span>
                It’s too hard to get to
              </span>
            </label>
            <label class="block-label">
              <input name="reason" value="" type="checkbox" class="selection-button-checkbox">
              <span>
                I’ll go somewhere else I know
              </span>
            </label>
            <label class="block-label">
              <input name="reason" value="" type="checkbox" class="selection-button-checkbox">
              <span>
                I think I’ll have to wait too long to be seen
              </span>
            </label>
            <label class="block-label">
              <input name="reason" value="" type="checkbox" class="selection-button-checkbox">
              <span>
                I’ll go to my GP instead
              </span>
            </label>
            <label class="block-label">
              <input name="reason" value="" type="checkbox" class="selection-button-checkbox">
              <span>
                I’m going to wait to see if I feel better
              </span>
            </label>
            <label class="block-label">
              <input id="something-else" name="reason" value="" type="checkbox" class="selection-button-checkbox">
              <span>
                Another reason
              </span>
            </label>
            <div class="form-group measure" style="margin-left: 19px; padding-left: 26px; border-left: 4px solid #005eb8;">
              <label for="something-else-detail">
                Tell us the reason
              </label>
              <input id="something-else-detail" name="something-else-detail" type="text">
            </div>
          </fieldset>
          <div class="form-group">
            <div><a href="#" class="button">Next</a></div>
            <div class="nhsuk-back-link">
              <a class="nhsuk-back-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Change my previous answer</a>
            </div>
          </div>
        </div>
      </div>
      <div class="survey-banner">
        <div>
          You can help improve the whole 111 online service by <a href="#">taking
          our full survey (opens in a new tab or window).</a>
        </div>
      </div>

      <div class="microsurvey-unit">
        <div class="content nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-6">
          <div class="measure">
            <p class="nhsuk-heading-s">
              Thanks for your feedback
            </p>
            <p>
              We’ll use it to improve the services we recommend.
            </p>
            <p>
              You can help improve the whole 111 online service by <a href="#">taking our
              full survey (opens in a new tab or window).</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </form>
  -->
</div>
