<details>
  <summary>What to do if you start to feel worse</summary>
  <div>
  {% if acuity == "high" %}
    <ol>
      <li>Call 111</li>
      <li>Tell them 111 online said you needed to get help [timeframe].</li>
      <li>Tell them your symptoms have got worse and you need to speak to a nurse.</li>
    </ol>
    <p>
      You might have to start the questions again, or answer new questions about
      any new symptoms.
    </p>
  {% else %}
    <p>
      <a href="javascript: return false;">Answer questions about your symptoms again.</a>
    </p>
    <p>
      If you have new symptoms, choose the one that’s worrying you most.
    </p>
    <p>
      If you’re not sure how to choose, call 111.
    </p>
  {% endif %}
  </div>
</details>
