{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block body_css_classes %}{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <div class="callout callout--attention">
      <h1 class="h2">Call 111 to speak to an adviser now</h1>
      <p>
        A health adviser needs to speak to you as we can’t help you with this
          problem online.
      </p>
    </div>

    <ul>
      <li>
        You can tell the adviser that we haven’t been able to finish your
          assessment online.
      </li>
      <li>
        They will ask you to repeat some of your answers, but will be able to
          get you the right care.
      </li>
    </ul>
  </div>

  <div class="content-block">
    <p>
      <a href="javascript: return false;">Change my previous answer</a>
    </p>
  </div>

  <div class="content-seperator content-seperator_equalvertspacing"></div>

  <div class="content-block">
    <details>
      <summary>Why can’t I do this online?</summary>
      <div class="callout callout--info shunt">
        <p>
          At the moment, the online service doesn’t cover everything the phone
            service does. For example, mixed symptoms that are harder to check
            online or a diagnosed condition. 
        </p>
      </div>
    </details>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
