{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">

    <div class="callout callout--attention">

      <h1 class="heading-large">We need to speak to you now</h1>
      <p class="">
        <strong>Call 111</strong> so a health adviser can ask you more
          questions and get you the right care.
      </p>
    </div>

    <ul>
      <li>
        Tell the adviser that we’ve not been able to finish your assessment
          online.
      </li>
      <li>
        You’ll be asked questions about your symptoms and will have to repeat
          some answers you’ve given already.
      </li>
    </ul>

    <details>
      <summary>
        Why can’t I do this online?
      </summary>
      <div class="callout callout--info shunt">
        <p>
          At the moment, the online service doesn’t cover everything the phone
          service does. For example, under 5s or some previously diagnosed
          conditions.
        </p>
      </div>
    </details>

  </div>

  <div class="content-seperator content-seperator_equalvertspacing"></div>

  <div class="content-block">
    <p>
      <a href="javascript: return false;">Change my previous answer</a>
    </p>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
