{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}Index{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1>111 prototypes</h1>

  <h2>ED booking</h2>
  <div class="callout  callout--info">
    <ul>
      <li>
        <a href="/111-first/booking-into-ed/interruption1">Scenario 1</a>
        </li>
        <li>
          <a href="/111-first/booking-into-ed/interruption2">Scenario 2</a>
          </li>
          <li>
            <a href="/111-first/booking-into-ed/interruption3">Scenario 3</a>
            </li>
            <li>
              <a href="/111-first/booking-into-ed/interruption4">Scenario 4</a>
              </li>
          </ul>
    </div>

</div>

{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
