{% extends '_layouts/layout.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block content %}
  <h1>Prototypes</h1>
  <h2>Dispositions</h2>
  <ul>
    <li><p><a href="/disposition/dentist-urgently">Dentist - urgently</a></p></li>
    <li><p><a href="/disposition/dentist-today">Dentist - today</a></p></li>
    <li><p><a href="/disposition/dentist-today-tomorrow">Dentist - today or tomorrow</a></p></li>
    <li><p><a href="/disposition/dentist-next-few-days">Dentist - next few days</a></p></li>
  </ul>
{% endblock %}

{% block footer %}{% endblock %}
