{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<div class="content-block measure">

  <h1 class="nhsuk-heading-xl">You need to stay at home</h1>

  <div class="callout callout--warning">
    <p>
      Stay away from other people for at least the next 7 days, or until your
      symptoms have gone.
    </p>
  </div>

  <p>
    If you are on public transport, go home by the most direct route.
  </p>
  <p>
    Stay at least 2 metres (about 3 steps) away from people if you can.
  </p>

  <div class="callout callout--attention">
    <p>
      To protect others, <b>do not go</b> to your GP, pharmacy or hospital
    </p>
  </div>

  <p>
    You can <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">read
    more stay at home advice on NHS.UK.</a>
  </p>

  <h2 class="nhsuk-heading-l">
    How to look after your symptoms at home
  </h2>

  <ul>
    <li>
      rest and drink plenty of fluids
    </li>
    <li>
      take paracetamol or ibuprofen
    </li>
    <li>
      cover the mouth with a tissue when coughing or sneezing
    </li>
    <li>
      put used tissues in a bin
    </li>
    <li>
      wash your hands regularly with warm water and soap for at least 20 seconds
    </li>
  </ul>

</div>

{% endblock %}

{% set suppress_feedback = true %}
