.card {
  @extend %contain-floats;
  display: inline-block;


  border: 1px solid $grey-5;
  border-left: $leading/2 solid $grey-5;
  padding: $leading;
  margin-bottom: $leading;
  margin-right: $leading*2;

    @include media(mid) {
      width:50%;
    }

  > .cta {
    margin-bottom: $leading*2;
  }

}

// .info {
//   margin-left:$leading*0.5;
//   border-left: $leading/2 solid $bright-blue;
//   padding: $leading;
//   background-color: $grey-5;//tint($grey-5, 90);

//   > .cta {
//     margin-bottom: $leading*2;
//   }
// }

// .message {
//   border-top: 2px solid $yellow;
//   background-color: tint($yellow, 90);
//   color: darken($yellow, 30);
// }

// .completion {
//   border-top: 2px solid $light-green;
//   background-color: tint($light-green, 90);
// }

// .info-pop {
//   color: $nhs-blue;
//   font-weight: $boldweight;
//   border: 4px solid currentcolor;
// }

// .subtle-push {
//   border: 2px solid tint($nhs-blue, 50);
// }
