{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Your details</h1>
    <p>We need to get some details for the pharmacist, so they can check it's ok to give you what you've asked for.</p>
    <p>They'll contact you to tell you what will happen next and when your prescription is ready to collect.</p>
  
    <div class="shunt-2">
      <a href="/emergency-prescriptions/name" class="button">Next</a>
    </div>
  </div>

</div>

{% endblock %}
