{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Your details</h1>
    <p>We need to get some details for the pharmacist.</p>
    <p>They'll contact you to confirm they have what you need and check who is coming to collect the medicine.</p>
  
    <div class="shunt-2">
      <a href="/emergency-prescriptions/name" class="button">Confirm</a>
    </div>
  </div>

</div>

{% endblock %}
