{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <form action="/emergency-prescriptions/email" method="POST">
        <label for="email" class="heading--large">Email</label>
        <input type="text" id="email" name="email" required>
        <div class="shunt-2">
          <button type="submit" class="button">Next</button>
        </div>
    </form>
  </div>

</div>

{% endblock %}
