{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Get an emergency prescription</h1>
    <p>Use this service if:
      <ul type="round">
    <li>you don’t have any symptoms</li>
    <li>you've run out of a prescribed medicine or medical device and you need more now</li>
    <li>you don’t have enough supplies to last until your GP surgery is open</li>
</ul>

    <div class="shunt-2">
      <a href="/emergency-prescriptions/why-need" class="button">Start</a>
    </div>
  </div>

</div>

{% endblock %}
