{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Get an emergency prescription</h1>
    <p>This service is for when you have run out of medicine and the next dose is due before you can get a repeat prescription.</p>
    <p>It's only for medicine you have been prescribed before and take or use regularly.</p>
    <p>If you've got enough medicine to last until your GP surgery opens, contact your GP or pharmacy for a repeat prescription.</p>
  
    <div class="shunt-2">
      <a href="/emergency-prescriptions/feel-unwell" class="button">Start</a>
    </div>
  </div>

</div>

{% endblock %}
