{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <form action="/emergency-prescriptions/name" method="POST">
        <h1 class="heading--large">Full name</h1>
        <input type="text" id="fullname" name="fullname" required>
        <div class="shunt-2">
          <button type="submit" class="button">Next</button>
        </div>
    </form>
  </div>

</div>

{% endblock %}
