{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <form action="/emergency-prescriptions/name" method="POST">
        <label class="heading--large" for="firstname">First name</label>
        <input type="text" id="firstname" name="firstname" required>
        <label class="heading--large" for="lastname">Last name</label>
        <input type="text" id="lastname" name="lastname" required>
        <div class="shunt-2">
          <button type="submit" class="button">Next</button>
        </div>
    </form>
  </div>

</div>

{% endblock %}
