{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">Recommended Service</h1>
    <p>St George's Pharmacy<br>46 St George's Road<br>Elephant and Castle<br>London<br>SE1 6ET<br>Open until 6:30pm</p>
  
    <div id="service-location" style="width: 100%; height: 100%; min-height: 300px;"></div>
    
    <div class="shunt-2">
      <a href="/emergency-prescriptions/details" class="button">Select this pharmacy</a>
    </div>
  </div>

</div>

{% endblock %}


{% block body_after %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
<script>
  var serviceLat = 51.4956682;
  var serviceLng = -0.1018427;
  var userLat = 51.4963291;
  var userLng = -0.100777;
  $(function() {
    mapObj = new google.maps.Map(document.getElementById('service-location'), {
      center: {
        lat: serviceLat,
        lng: serviceLng
      },
      zoom: 16,
      maxZoom: 18,
      zoomControl: true,
      mapTypeControl: false,
      scaleControl: true,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false
    });
    var bounds = new google.maps.LatLngBounds();
    var service = new google.maps.Marker({
      position: new google.maps.LatLng(serviceLat, serviceLng),
      map: mapObj
    });
    bounds.extend(service.position);
    var user = new google.maps.Marker({
      position: new google.maps.LatLng(userLat, userLng),
      map: mapObj,
      icon: '/images/icon-maps-user-location.png'
    });
    bounds.extend(user.position);
    mapObj.fitBounds(bounds);
  });
</script>

{% endblock %}
