{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">What do you need?</h1>
    {% if session.emergencyprescriptions.medicines and session.emergencyprescriptions.medicines.length > 0 %}
      <ul>
        {% for medicine in session.emergencyprescriptions.medicines %}
          <li>{{ medicine }} <a href="/emergency-prescriptions/select-medicines/remove/{{medicine}}">Remove</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    <br>
    <form action="/emergency-prescriptions/select-medicines" method="POST" class="search">
        <input type="text" id="medicine" name="medicine" autocomplete="off" class="js-typeahead">
        <button type="submit" class="button">Add</button>
    </form>


    {% if session.emergencyprescriptions.medicines and session.emergencyprescriptions.medicines.length > 0  %}
      <div class="shunt-2">
        <a href="/emergency-prescriptions/next-due" class="button">Next</a>
      </div>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block body_after %}
<script src="/scripts/typeahead.min.js"></script>
<script src="/scripts/fuzzysearch.min.js"></script>
<script src="/scripts/emergency-prescriptions-medicine.js"></script>
<script>

var states = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // `states` is an array of state names defined in "The Basics"
  local: states
});

// var medicines = new Bloodhound({
//   datumTokenizer: Bloodhound.tokenizers.whitespace,
//   queryTokenizer: Bloodhound.tokenizers.whitespace,
//   local: source
// });

var medicines = new FuzzySearch({
  source: source
})

$('.js-typeahead').typeahead({
  hint: true,
  highlight: false,
  minLength: 2
},
{
  name: 'medicines',
  source: medicines,
  templates: {
    suggestion: function(result){return "<div>"+medicines.highlight(result)+"</div>"}
  }
})
</script>
{% endblock %}
