{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">What do you need?</h1>
    <br>
    <form action="/emergency-prescriptions/select-medicines" method="POST" class="search">
        <input type="text" id="medicine" name="medicine" autocomplete="false">
        <button type="submit" class="button">Add</button>
    </form>

    {% if session.emergencyprescriptions.medicines  %}
      <ul>
        {% for medicine in session.emergencyprescriptions.medicines %}
          <li>{{ medicine }} <a href="/emergency-prescriptions/select-medicines/remove/{{medicine}}">Remove</a></li>
        {% endfor %}
      </ul>

      {% if session.emergencyprescriptions.medicines.length > 0  %}
        <div class="shunt-2">
          <a href="/emergency-prescriptions/next-due" class="button">Next</a>
        </div>
      {% endif %}
    {% endif %}
  </div>

</div>

{% endblock %}
