{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">What happens next</h1>
    <p>The pharmacist will contact you.<br>Tell them this code:</p>
    <p style="font-size: 3.5rem; font-weight: 700;">AB 76 54 GE</p>
    <p>We've also emailed you a copy of this code.</p>
    <h2>At the pharmacy</h2>
    <p>You'll have a consultation with the pharmacist to make sure it's ok to give you the medicine.</p>
    <h2>Paying for your medicine</h2>
    <p>You'll need to pay £8.80 for each item, unless you don't pay for your prescriptions.</p>
  </div>

</div>

{% endblock %}
