{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="measure">

  <div class="content-block">
    <h1 class="heading--large">What happens next</h1>
    <p>The pharmacist will contact you <strong>within 4 hours</strong>.</p>
    <p>Tell them this code so they can see your details:</p>
    <p style="font-size: 3.5rem; font-weight: 700;">AB 76 54 GE</p>
    <p>If you want to speak to the pharmacist before then call: 020 8965 7765.</p>
    <h2>Paying for your medicine</h2>
    <p>You might have to pay for a few tablets or a whole prescription, depending on what the pharmacist gives you. You won't pay if you usually get your prescriptions for free.</p>
  </div>

</div>

{% endblock %}
