html {
  background-color: $nhs-blue;
}

.footer-transactional {
  background-color: $nhs-blue;

  .supplemental-links {
    padding: $baseline-grid-unit*2 0 $baseline-grid-unit*5 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .copyright-section {
    padding: $baseline-grid-unit*4 0;
  }

  .link, .copyright {
    margin-bottom: $baseline-grid-unit*1.5;
    @include media(large) {
      display: inline-block;
      margin-right: $baseline-grid-unit*8;
      margin-bottom: 0;
    }
  }

  .copyright {
    color: rgba(255, 255, 255, 0.75);
  }
}
