{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<style type="text/css">

</style>

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <a href="#" class="button-back">Back</a>
    <h1>Where to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      Get help as soon as you can
    </div>
    <h2>Recommended service</h2>
  </div>

  <div class="service-details --remote">
    <div class="unit">
      <p>
        GP OOH Service - Leeds, West Yorkshire (St Georges) WYUC
      </p>
    </div>
    <div class="unit measure">
      <div class="form-hint">
        <p>
          This service needs more information to help you:
        </p>
        <ol>
          <li>Give us your contact details</li>
          <li>We’ll get back in touch with you</li>
        </ol>
      </div>
      <p>
        <a href="#" class="action-link">
          <span>Start</span>
          <svg class="nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
        </a>
      </p>
    </div>
    <div class="unit">
      <p>
        Open now &mdash; closes at 11pm
      </p>
    </div>
  </div>

  <!-- boilerplate service type text and 'before you go' -->
  <div class="measure">
    <p>
      GP services available outside normal working hours and over weekends and
      public holidays.
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <h2>Other services that can help</h2>
    <p>
      If you do not want to use the recommended service, see
      <a href="/service-display/ed-multiple-services">other things you can do.</a>
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <h2>Care advice</h2>

    <div class="care-advice-output">
      <details>
        <summary>Breathlessness</summary>
        <div>
          <ul>
            <li>
              Sit as upright as is comfortable.
            </li>
            <li>
              If an inhaler or a spacer is used for chest problems, follow the
              instructions about &quot;what to do if your breathing gets worse&quot;.
            </li>
            <li>
              Never use medicines which have been prescribed for someone else.
            </li>
          </ul>
        </div>
      </details>

      <details>
        <summary>Medication, pain and/or fever</summary>
        <div>
          <ul>
            <li>
                Paracetamol or ibuprofen can be used to relieve pain or a fever.
                Don’t take if you’ve been told not to, or you’ve already taken some.
                Read the instructions on the packet, or talk to a pharmacist.
            </li>
          </ul>
        </div>
      </details>

      <details>
        <summary>Headache</summary>
        <div>
          <ul>
            <li>
              A heated pad or covered hot water bottle on the back of your neck may
              help ease the pain.
            </li>
            <li>
              Call 999 if:
              <ul>
                <li>
                  The person becomes very drowsy, isn’t responding normally or is
                  having a fit.
                </li>
                <li>
                  The person becomes severely ill with new marks under the skin which
                  look like bruising or bleeding.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </details>
    </div>

  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <div class="callout callout--info">
      <p>
        If you get worse <a href="#">start again using your new symptoms.</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
