{% set suppress_feedback = false %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhsuk-frontend{% endblock %}

{% block content %}

<style type="text/css">

</style>

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <a href="javascript: return false;" class="button-back">Back</a>
    <h1>Where to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      Get help now
    </div>

    <h2>Recommended service</h2>
    <div class="service-appointment-flag" data-scroll>
      You must call <b>0330 3115106</b> to make an appointment
    </div>

  <div class="service-details --remote">
    <div class="unit">
      <p>
        <b>Minor injuries unit</b><br>
        St Georges Centre
      </p>
    </div>
    <div class="unit">
      <div class="form-hint measure">
        <p>
          You must call to book an appointment
        </p>
      </div>
      <p class="tel-cta">
        <a href="javascript: return false;">Call 01482 301701</a>
      </p>
    </div>
    <div class="unit">
      {% set opening = "Open 24 hours"%}
      {% set suppress_full = true %}
      {% include 'service-display/_components/opening-hours.html' %}
    </div>
    
    <div class="unit">
      
      <p>
        St Georges Centre<br>
        St Georges Road<br>
        Middleton<br>
        Leeds<br>
        LS10 4UZ
      </p>
    </div>

    <div class="unit directions">
      <p>
        6.8 miles away<br>
        <a href="javascript: return false;" target="_blank">
          Get directions <span class="small">(opens a new tab or window)</span>
        </a>
      </p>
    </div>
  </div>

  <!-- boilerplate service type text and 'before you go' -->
  <div class="measure">
    <p>
      Minor injury units (also called urgent treatment centres) are open for at
      least 12 hours every day. They can diagnose and deal with many of the most
      common problems people go to A&E for.
    </p>
  </div>

  {% include 'service-display/_components/why-this-one.html' %}

  {% include 'service-display/_components/change-location.html' %}

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% set other_services_url = "/service-display/other-services" %}
    {% set other_services_message = "services" %}
    {% include 'service-display/_components/other-services.html' %}
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    {% include 'service-display/_components/care-advice.html' %}
  </div>

  {% set acuity = "high" %}
  {% include 'service-display/_components/worsening-symptoms.html' %}

</div>

{% endblock %}

{#
{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}
#}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <style>
    .shake-vertical-off {}
    .shake-vertical-on {
    	-webkit-animation: shake-vertical 1.5s ease-in-out both;
    	        animation: shake-vertical 1.5s ease-in-out both;
    }
    @media (prefers-reduced-motion: reduce) {
      .shake-vertical-on {
        animation: none;
        -webkit-animation: none;
      }
    }

    /* ----------------------------------------------
     * Generated by Animista on 2019-1-7 15:49:13
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation shake-vertical
     * ----------------------------------------
     */
    @-webkit-keyframes shake-vertical {
      0%,
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      10%,
      30%,
      50%,
      70% {
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
      }
      20%,
      40%,
      60% {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
      }
      80% {
        -webkit-transform: translateY(6.4px);
                transform: translateY(6.4px);
      }
      90% {
        -webkit-transform: translateY(-6.4px);
                transform: translateY(-6.4px);
      }
    }
    @keyframes shake-vertical {
      0%,
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      10%,
      30%,
      50%,
      70% {
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
      }
      20%,
      40%,
      60% {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
      }
      80% {
        -webkit-transform: translateY(6.4px);
                transform: translateY(6.4px);
      }
      90% {
        -webkit-transform: translateY(-6.4px);
                transform: translateY(-6.4px);
      }
    }
  </style>

  <script type="text/javascript" src="/scripts/scroll-trigger.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    var serviceLat = 53.747799;
    var serviceLng = -1.532347;
    var userLat = 53.804741;
    var userLng = -1.564623;
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: serviceLat,
          lng: serviceLng
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      var bounds = new google.maps.LatLngBounds();
      var service = new google.maps.Marker({
        position: new google.maps.LatLng(serviceLat, serviceLng),
        map: mapObj
      });
      bounds.extend(service.position);
      var user = new google.maps.Marker({
        position: new google.maps.LatLng(userLat, userLng),
        map: mapObj,
        icon: '/images/icon-maps-user-location.png'
      });
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    });

    $(function() {
      var scrollTrigger = new ScrollTrigger({
        toggle: {
          visible: 'shake-vertical-on',
          hidden: 'shake-vertical-off'
        },
        addHeight: true,
        once: false
      }, document.body, window);
    })

  </script>
{% endblock %}
