{% set show_supplemental_footer_links = true %}
{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <a href="javascript:window.history.back();" class="button-back">Back</a>
    <h1>Other ways to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      Get help now
    </div>
    <p>
      Services available in LS3 1NX &mdash; <a href="/service-display/change-location">change my location</a>
    </p>
  </div>

  <div class="multiple-service-listing">

    <div class="collapse-title">
      <div class="service-listing">
        <b>Emergency department, Dewsbury District Hospital</b><br>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details">
        <div class="unit address">
          <p>
            Emergency department<br>
            Dewsbury and District Hospital<br>
            Halifax Road<br>
            Dewsbury<br>
            WF13 4HS
          </p>
        </div>
        <div class="unit hours">
          <p>
            Open 24 hours
          </p>
        </div>
        <div class="geo">
          <div id="service-location" class="map-frame">
            <a href="#">
              <img src="
                https://maps.googleapis.com/maps/api/staticmap?
                  &zoom=11
                  &size=640x480
                  &maptype=roadmap
                  &markers=53.701942,-1.649995
                  &markers=anchor:bottom
                    %7Cicon:http://demotive.com/demos/nhs-111/images/icon-maps-user-location.png
                    %7C53.804741,-1.564623
                  &key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM
              ">
            </a>
          </div>
        </div>
        <div class="unit directions">
          <p>
            11 miles away<br>
            <a href="#" target="_blank">
              Get directions <span class="small">(opens a new tab or window)</span>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="collapse-title">
      <div class="service-listing">
        <b>Minor injuries unit, St Georges Centre</b><br>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <!-- appointment required info -->
      <div class="service-appointment-flag">
        You must call <b>01482 301701</b> to make an appointment
      </div>
      <div class="service-details">
        <div class="unit address">
          <p>
            Minor injuries unit<br>
            St Georges Centre<br>
            St Georges Road<br>
            Middleton<br>
            Leeds<br>
            LS10 4UZ
          </p>
        </div>
        <div class="unit hours">
          <p>
            Open until 6pm
          </p>
        </div>
        <div class="geo">
          <div id="service-location" class="map-frame">
            <a href="#">
              <img src="
                https://maps.googleapis.com/maps/api/staticmap?
                  &zoom=12
                  &size=640x480
                  &maptype=roadmap
                  &markers=53.747799,-1.532347
                  &markers=anchor:bottom
                    %7Cicon:http://demotive.com/demos/nhs-111/images/icon-maps-user-location.png
                    %7C53.804741,-1.564623
                  &key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM
              ">
            </a>
          </div>
        </div>
        <div class="unit directions">
          <p>
            6.8 miles away<br>
            <a href="#" target="_blank">
              Get directions <span class="small">(opens a new tab or window)</span>
            </a>
          </p>
        </div>
      </div>
    </div>


    <div class="collapse-title">
      <div class="service-listing">
        <b>Mental Health Adult (Mental Health Response) - Goole and West Wolds, East Riding</b><br>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details --remote">
        <div class="unit">
          <p>
            <b>Call 01482 301701</b>
          </p>
        </div>
        <div class="unit">
          <p>
            Open 24 hours
          </p>
        </div>
      </div>
    </div>

    <div class="collapse-title">
      <div class="service-listing">
        <b>GP OOH Service - Leeds, West Yorkshire (St Georges) WYUC</b><br>
        <span class="collapse-title-indicator-verbose">
          <span class="show">More information</span>
          <span class="hide">Hide</span>
        </span>
      </div>
    </div>
    <div class="collapse-content">
      <div class="service-details --remote">
        <div class="unit">
          <div class="form-hint measure">
            <p>
              This service needs some more details from you. To use it, fill in the
              form and they’ll be in touch.
            </p>
          </div>
          <p>
            <a href="#" class="action-link">
              <span>Use this service</span>
              <svg class="nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
            </a>
          </p>
        </div>
        <div class="unit">
          <p>
            Open until 11pm
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <div class="callout callout--info">
      <p>
        If your symptoms get worse, call 111
      </p>
    </div>
  </div>

</div>

{% endblock %}

{% block footer %}
  {% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}
{% endblock %}
