{% set suppress_feedback = true %}

{% extends '_layouts/layout.html' %}

{% block page_title %}{% endblock %}

{% block body_css_classes %}nhs-redesign{% endblock %}

{% block content %}

<div class="content-block">
  <div class="measure">
    <!-- Only display 'Back' if validation is present? -->
    <a href="#" class="button-back">Back</a>
    <h1>Where to get help</h1>
    <!-- timing info -->
    <div class="callout callout--warning">
      Get help now
    </div>
  </div>

  <div class="service-details-container">

    <div class="details-1 service-details">
      <div class="unit address">
        <p>
          Emergency department<br>
          Leeds General Infirmary<br>
          Great George Street<br>
          Leeds<br>
          LS1 3EX
        </p>
      </div>
      <div class="unit hours">
        <p>
          Open 24 hours
        </p>
      </div>
    </div>

    <div class="subroutine"></div>

    <div class="geo">
      <div id="service-location" class="map-frame"></div>
    </div>

    <div class="details-2 service-details">
      <div class="unit directions">
        <p>
          0.5 miles away<br>
          <a href="#" target="_blank">
            Get directions <span class="small">(opens a new tab or window)</span>
          </a>
        </p>
      </div>
    </div>

  </div>

  <!-- boilerplate service type text and 'before you go' -->
  <div class="measure">
    <p>
      The emergency department is also known as casualty or accident and
      emergency (A&E). It helps if you take all your current medicines with you.
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <h2>Other services that can help</h2>
    <p>
      If you do not want to use the recommended service, see
      <a href="/service-display/ed-multiple-services">other things you can do.</a>
    </p>
  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <h2>Care advice</h2>

    <div class="care-advice-output">
      <details>
        <summary>Breathlessness</summary>
        <div>
          <ul>
            <li>
              Sit as upright as is comfortable.
            </li>
            <li>
              If an inhaler or a spacer is used for chest problems, follow the
              instructions about &quot;what to do if your breathing gets worse&quot;.
            </li>
            <li>
              Never use medicines which have been prescribed for someone else.
            </li>
          </ul>
        </div>
      </details>

      <details>
        <summary>Medication, pain and/or fever</summary>
        <div>
          <ul>
            <li>
                Paracetamol or ibuprofen can be used to relieve pain or a fever.
                Don’t take if you’ve been told not to, or you’ve already taken some.
                Read the instructions on the packet, or talk to a pharmacist.
            </li>
          </ul>
        </div>
      </details>

      <details>
        <summary>Headache</summary>
        <div>
          <ul>
            <li>
              A heated pad or covered hot water bottle on the back of your neck may
              help ease the pain.
            </li>
            <li>
              Call 999 if:
              <ul>
                <li>
                  The person becomes very drowsy, isn’t responding normally or is
                  having a fit.
                </li>
                <li>
                  The person becomes severely ill with new marks under the skin which
                  look like bruising or bleeding.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </details>
    </div>

  </div>

  <div class="content-seperator content-seperator--equalvertspacing--large"></div>

  <div class="measure">
    <div class="callout callout--info">
      <p>
        If your symptoms get worse, call 111
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include '_includes/survey-banner.html' %}
{% endblock %}

{% block body_after %}
  {% include '_partials/_partial-collapse-script.html' %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP454skpvnlft08MDIcZG_khm-sBHmFbM"></script>
  <script>
    var serviceLat = 53.801732;
    var serviceLng = -1.551858;
    var userLat = 53.804741;
    var userLng = -1.564623;
    $(function() {
      mapObj = new google.maps.Map(document.getElementById('service-location'), {
        center: {
          lat: serviceLat,
          lng: serviceLng
        },
        zoom: 16,
        maxZoom: 18,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false
      });
      var bounds = new google.maps.LatLngBounds();
      var service = new google.maps.Marker({
        position: new google.maps.LatLng(serviceLat, serviceLng),
        map: mapObj
      });
      bounds.extend(service.position);
      var user = new google.maps.Marker({
        position: new google.maps.LatLng(userLat, userLng),
        map: mapObj,
        icon: '/images/icon-maps-user-location.png'
      });
      bounds.extend(user.position);
      mapObj.fitBounds(bounds);
    });
  </script>
{% endblock %}
